{
  "openapi": "3.0.4",
  "info": {
    "title": "Close API",
    "description": "Close CRM REST API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.close.com/api/v1"
    }
  ],
  "paths": {
    "/activity": {
      "get": {
        "tags": [
          "activities"
        ],
        "summary": "List or filter all activity types",
        "description": "\u0022To list only a specific activity type (e.g., only \u0060Call\u0060 or \u0060LeadStatusChange\u0060), use the other resources listed separately. When querying activities for a single lead (using the \u0060lead_id\u0060 parameter), you can ask for multiple activity types using \u0060_type__in\u0060.\n\nWhen listing [Custom Activities](https://developer.close.com/api/resources/activities/custom-activities), \u0060_type\u0060 and \u0060_type__in\u0060 can include Custom Activity Type ids (e.g. \u0060actitype_1h5m6uHM9BZOpwVhyRJb4Y\u0060) to filter by a specific custom activity type or \u0060Custom\u0060 to list custom activities of any type.\n\nThe following filtering parameters can only be used for listing activities on a single lead (using the \u0060lead_id\u0060 parameter): \u0060user_id\u0060, \u0060user_id__in\u0060, \u0060contact_id\u0060, \u0060contact_id__in\u0060, \u0060_type\u0060, \u0060_type__in\u0060.\n\nAll activities have two sortable datetime fields: \u0060date_created\u0060 and \u0060activity_at\u0060. \u0060date_created\u0060 denotes when an activity was created or synced into Close and \u0060activity_at\u0060 denotes when that activity actually occurred. For example, on outgoing Email activities, \u0060date_created\u0060 is equal to when the email was first created in Close, and \u0060activity_at\u0060 is equal to when the email was actually sent. For Meeting activities, \u0060activity_at\u0060 is equal to the scheduled time of the meeting. On custom activities, users are able to update the \u0060activity_at\u0060 field at any time.\n\nSorting by \u0060-activity_at\u0060 can only be used when listing activities on a single lead using the \u0060lead_id\u0060 parameter. In addition, you can only use the date-based filters of the field you\u0027re currently sorting on. This means that if you want to use \u0060activity_at__lt\u0060 and \u0060activity_at__gt\u0060 as filters, you need to include \u0060_order_by=-activity_at\u0060 in your request.\n\n\u0060thread_emails\u0060 parameter:\n\n - (Default) when this parameter is not present, \u0060Email\u0060 objects will be returned for each email message.\n - A value of \u0060true\u0060 will return \u0060EmailThread\u0060 objects representing email conversations. Stripped-down version of \u0060Email\u0060 objects will also be returned.\n - A value of \u0060only\u0060 will return \u0060EmailThread\u0060 objects representing email conversations. \u0060Email\u0060 objects will not be returned.\u0022",
        "operationId": "ActivitiesList",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SkipParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_IdInParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_LeadIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ContactIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_UserIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_OrganizationIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_TypeParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLtParam"
          },
          {
            "name": "lead_id__in",
            "in": "query",
            "schema": {
              "title": "Lead ID (In)",
              "type": "string"
            }
          },
          {
            "name": "user_id__in",
            "in": "query",
            "schema": {
              "title": "User ID (In)",
              "type": "string"
            }
          },
          {
            "name": "contact_id__in",
            "in": "query",
            "schema": {
              "title": "Contact ID (In)",
              "type": "string"
            }
          },
          {
            "name": "_type__in",
            "in": "query",
            "schema": {
              "title": "Type (In)",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "name": "_order_by",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/activity/call": {
      "get": {
        "tags": [
          "activities.calls"
        ],
        "summary": "List or filter all Call activities",
        "operationId": "ActivitiesCallsList",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SkipParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_IdInParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_LeadIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ContactIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_UserIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_OrganizationIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_TypeParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivitiesCallsList200Response"
                },
                "example": {
                  "data": [
                    {
                      "_type": "Call",
                      "activity_at": "2013-02-01T00:51:33\u002B00:00",
                      "call_method": "regular",
                      "contact_id": "cont_q4xYmlGhA3060dEl0NDJuHRxPMuVjqLn30AFSzh1fRk",
                      "cost": "2",
                      "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "date_created": "2013-02-20T06:34:33.637000\u002B00:00",
                      "date_updated": "2013-02-20T06:34:35.656000\u002B00:00",
                      "dialer_id": null,
                      "dialer_saved_search_id": null,
                      "direction": "outbound",
                      "disposition": "answered",
                      "duration": 10,
                      "id": "acti_Ay0QqN91HKAHVQUesISYV8QlhDobGfWb1Ui3TE75pJR",
                      "lead_id": "lead_s6vHFTK1TSRoH6otXOexWDO9jM4xyb1kELHDoU7Fdsp",
                      "local_country_iso": "US",
                      "local_phone": "\u002B16505556666",
                      "local_phone_formatted": "\u002B1 650-555-6666",
                      "note": "",
                      "note_html": "\u003Cbody\u003E\u003Cp\u003E\u003C/p\u003E\u003C/body\u003E",
                      "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                      "outcome_id": "outcome_031uY9IKV1JxfNKM9n2qCw",
                      "phone": "\u002B16503334444",
                      "recording_url": null,
                      "remote_country_iso": "US",
                      "remote_phone": "\u002B16503334444",
                      "remote_phone_formatted": "\u002B1 650-333-4444",
                      "source": "Close.io",
                      "status": "completed",
                      "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "users": [],
                      "voicemail_duration": null,
                      "voicemail_url": null
                    }
                  ],
                  "has_more": false
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "activities.calls"
        ],
        "summary": "Log an external Call activity",
        "description": "\u0022Use this endpoint to log calls made outside of the Close built-in VoIP system.\n\n*status*: defaults to \u0060completed\u0060\n\n*direction* (optional): \u0060outbound\u0060 or \u0060inbound\u0060\n\n*recording_url*: you can post a URL pointing to the MP3 recording of your call. For security reasons, we require the URL to be secure (i.e. starting with https://)\u0022",
        "operationId": "ActivitiesCallsCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCallActivity"
              },
              "example": {
                "contact_id": "cont_bulY73zoaAwTCLdjHrKzGkzZ942OwtEelJR7kNku9RK",
                "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                "direction": "outbound",
                "duration": 153,
                "lead_id": "lead_fioU1Nk5LC0H0iei9XBGHW2CFZU0yeP2zZCJQP9pC4m",
                "note_html": "\u003Cbody\u003E\u003Cp\u003Ecall notes go here\u003C/p\u003E\u003C/body\u003E",
                "phone": "\u002B16505551234",
                "status": "completed",
                "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallActivity"
                },
                "example": {
                  "_type": "Call",
                  "activity_at": "2013-02-01T00:51:33\u002B00:00",
                  "call_method": "external",
                  "contact_id": "cont_bulY73zoaAwTCLdjHrKzGkzZ942OwtEelJR7kNku9RK",
                  "cost": "0",
                  "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "created_by_name": "Stefan W\u00F3jcik",
                  "date_created": "2014-05-22T17:39:04.509000\u002B00:00",
                  "date_updated": "2014-05-22T17:39:04.509000\u002B00:00",
                  "dialer_id": null,
                  "dialer_saved_search_id": null,
                  "direction": "outbound",
                  "disposition": "answered",
                  "duration": 153,
                  "id": "acti_wJGiBIXXBCpBAQacZ7axeOhgTS7TWxyU7ml4WqAswOb",
                  "lead_id": "lead_fioU1Nk5LC0H0iei9XBGHW2CFZU0yeP2zZCJQP9pC4m",
                  "local_country_iso": "US",
                  "note": "call notes go here",
                  "note_html": "\u003Cbody\u003E\u003Cp\u003Ecall notes go here\u003C/p\u003E\u003C/body\u003E",
                  "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                  "outcome_id": null,
                  "phone": "\u002B16505551234",
                  "recording_url": null,
                  "remote_country_iso": "US",
                  "remote_phone": "\u002B16505551234",
                  "remote_phone_formatted": "\u002B1 650-555-1234",
                  "source": "External",
                  "status": "completed",
                  "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "updated_by_name": "Phil Freo",
                  "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "user_name": "Stefan W\u00F3jcik",
                  "users": [],
                  "voicemail_url": null
                }
              }
            }
          }
        }
      }
    },
    "/activity/call/{id}": {
      "get": {
        "tags": [
          "activities.calls"
        ],
        "summary": "Get a single Call activity",
        "operationId": "ActivitiesCallsGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallActivity"
                },
                "example": {
                  "_type": "Call",
                  "activity_at": "2013-02-01T00:51:33\u002B00:00",
                  "call_method": "regular",
                  "contact_id": "cont_q4xYmlGhA3060dEl0NDJuHRxPMuVjqLn30AFSzh1fRk",
                  "cost": "2",
                  "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "date_created": "2013-02-20T06:34:33.637000\u002B00:00",
                  "date_updated": "2013-02-20T06:34:35.656000\u002B00:00",
                  "dialer_id": null,
                  "dialer_saved_search_id": null,
                  "direction": "outbound",
                  "disposition": "answered",
                  "duration": 10,
                  "id": "acti_Ay0QqN91HKAHVQUesISYV8QlhDobGfWb1Ui3TE75pJR",
                  "lead_id": "lead_s6vHFTK1TSRoH6otXOexWDO9jM4xyb1kELHDoU7Fdsp",
                  "local_country_iso": "US",
                  "local_phone": "\u002B16505556666",
                  "local_phone_formatted": "\u002B1 650-555-6666",
                  "note": "",
                  "note_html": "\u003Cbody\u003E\u003Cp\u003E\u003C/p\u003E\u003C/body\u003E",
                  "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                  "outcome_id": "outcome_031uY9IKV1JxfNKM9n2qCw",
                  "phone": "\u002B16503334444",
                  "recording_url": null,
                  "remote_country_iso": "US",
                  "remote_phone": "\u002B16503334444",
                  "remote_phone_formatted": "\u002B1 650-333-4444",
                  "source": "Close.io",
                  "status": "completed",
                  "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "users": [],
                  "voicemail_duration": null,
                  "voicemail_url": null
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "activities.calls"
        ],
        "summary": "Update a Call activity",
        "description": "\u0022Most commonly used to update \u0060note_html\u0060 or \u0060outcome_id\u0060. Some fields (\u0060status\u0060, \u0060duration\u0060, \u0060direction\u0060) cannot be updated for internal calls made through Close\u0027s VoIP system.\n\n**\u0060note_html\u0060 and \u0060note\u0060**: setting one overwrites the other. If both are provided, \u0060note_html\u0060 takes precedence. \u0060note_html\u0060 supports rich-text HTML; \u0060note\u0060 is plaintext only.\n\n**Deleting recordings**: for internal calls, changing or clearing \u0060recording_url\u0060 or \u0060voicemail_url\u0060, or setting \u0060recording_transcript\u0060 to \u0060null\u0060, permanently deletes the corresponding recording, voicemail, or transcript. This requires the \u0060delete_own_activities\u0060 permission for your own calls, or \u0060manage_others_activities\u0060 for other users\u0027 calls and calls not assigned to a user. Without the required permission the request fails with a \u0060400\u0060 error.\u0022",
        "operationId": "ActivitiesCallsUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCallActivity"
              },
              "example": {
                "note_html": "\u003Cbody\u003E\u003Cp\u003EThis is some new call note.\u003C/p\u003E\u003C/body\u003E",
                "outcome_id": "outcome_031uY9IKV1JxfNKM9n2qCw"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallActivity"
                },
                "example": {
                  "_type": "Call",
                  "activity_at": "2013-02-01T00:51:33\u002B00:00",
                  "call_method": "regular",
                  "contact_id": "cont_q4xYmlGhA3060dEl0NDJuHRxPMuVjqLn30AFSzh1fRk",
                  "cost": "2",
                  "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "date_created": "2013-02-20T06:34:33.637000\u002B00:00",
                  "date_updated": "2013-02-20T06:34:35.656000\u002B00:00",
                  "dialer_id": null,
                  "dialer_saved_search_id": null,
                  "direction": "outbound",
                  "disposition": "answered",
                  "duration": 10,
                  "id": "acti_Ay0QqN91HKAHVQUesISYV8QlhDobGfWb1Ui3TE75pJR",
                  "lead_id": "lead_s6vHFTK1TSRoH6otXOexWDO9jM4xyb1kELHDoU7Fdsp",
                  "local_country_iso": "US",
                  "local_phone": "\u002B16505556666",
                  "local_phone_formatted": "\u002B1 650-555-6666",
                  "note": "This is some new call note.",
                  "note_html": "\u003Cbody\u003E\u003Cp\u003EThis is some new call note.\u003C/p\u003E\u003C/body\u003E",
                  "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                  "outcome_id": "outcome_031uY9IKV1JxfNKM9n2qCw",
                  "phone": "\u002B16503334444",
                  "recording_url": null,
                  "remote_country_iso": "US",
                  "remote_phone": "\u002B16503334444",
                  "remote_phone_formatted": "\u002B1 650-333-4444",
                  "source": "Close.io",
                  "status": "completed",
                  "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "users": [],
                  "voicemail_duration": null,
                  "voicemail_url": null
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "activities.calls"
        ],
        "summary": "Delete a Call activity",
        "operationId": "ActivitiesCallsDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson"
                }
              }
            }
          }
        }
      }
    },
    "/activity/created": {
      "get": {
        "tags": [
          "activities.creations"
        ],
        "summary": "List or filter all Created activities",
        "operationId": "ActivitiesCreationsList",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SkipParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_IdInParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_LeadIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ContactIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_UserIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_OrganizationIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_TypeParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson2"
                }
              }
            }
          }
        }
      }
    },
    "/activity/created/{id}": {
      "get": {
        "tags": [
          "activities.creations"
        ],
        "summary": "Get a single Created activity",
        "operationId": "ActivitiesCreationsGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson3"
                }
              }
            }
          }
        }
      }
    },
    "/activity/custom": {
      "get": {
        "tags": [
          "activities.custom_activities"
        ],
        "summary": "List or filter all Custom Activity instances",
        "description": "\u0022Custom Fields appear in the format: \u0060custom.{custom_field_id}\u0060. See [Custom Fields](https://developer.close.com/api/resources/custom-fields/custom-fields-activity).\n\nIf you\u0027re filtering by \u0060custom_activity_type_id\u0060 or \u0060custom_activity_type_id__in\u0060 parameter, the \u0060lead_id\u0060 parameter will be required as well. If you want to retrieve all Custom Activity instances of a specific type regardless of the lead, you will need to get leads that contain such an activity type using [Advanced Filtering](https://developer.close.com/api/resources/advanced-filtering) and provide those Lead IDs one at a time to this endpoint.\u0022",
        "operationId": "ActivitiesCustomActivitiesList",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SkipParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_IdInParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_LeadIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ContactIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_UserIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_OrganizationIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_TypeParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLtParam"
          },
          {
            "name": "custom_activity_type_id",
            "in": "query",
            "schema": {
              "title": "Custom Activity Type ID",
              "type": "object",
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ],
              "default": null,
              "nullable": true
            }
          },
          {
            "name": "custom_activity_type_id__in",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson4"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "activities.custom_activities"
        ],
        "summary": "Create a new Custom Activity instance",
        "description": "Custom Activity instances will be created by default with the \u0027published\u0027 status. All required fields will be validated in this status. To create an activity without setting all required fields, you can use the \u0022draft\u0022 status.\n\nA Custom Activity can be pinned or unpinned by setting the \u0060pinned\u0060 field to \u0060true\u0060 or \u0060false\u0060 when creating or updating a Custom Activity.",
        "operationId": "ActivitiesCustomActivitiesCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomActivity"
              },
              "example": {
                "custom.cf_UpyNBvr6Rw8UBHh7zRboL3PYhbOVJl3XvwgPm3jg64S": "thedarknight@close.com",
                "custom.cf_cSh3fWT3rEJ1BFSezme2YAG6bPrZV5wUWKKrW4iN19g": "Yes",
                "custom_activity_type_id": "actitype_1h5m6uHM9BZOpwVhyRJb4Y",
                "lead_id": "lead_p9bdo1sTVDvc81drMF1IxJBSHiLFZqaABYRu7ZHuxhP",
                "pinned": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson5"
                }
              }
            }
          }
        }
      }
    },
    "/activity/custom/{id}": {
      "get": {
        "tags": [
          "activities.custom_activities"
        ],
        "summary": "Get a single Custom Activity instance",
        "operationId": "ActivitiesCustomActivitiesGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson6"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "activities.custom_activities"
        ],
        "summary": "Updating a Custom Activity instance",
        "description": "A Custom Activity can be updated to add, change or remove any Custom Fields and to change the status between \u0022draft\u0022 and \u0022published\u0022.\n\nA Custom Activity can be pinned or unpinned by setting the \u0060pinned\u0060 field to \u0060true\u0060 or \u0060false\u0060 when creating or updating a Custom Activity.",
        "operationId": "ActivitiesCustomActivitiesUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomActivity"
              },
              "example": {
                "custom.cf_UpyNBvr6Rw8UBHh7zRboL3PYhbOVJl3XvwgPm3jg64S": "thedarknight@close.com",
                "custom.cf_cSh3fWT3rEJ1BFSezme2YAG6bPrZV5wUWKKrW4iN19g": null,
                "pinned": true,
                "status": "published"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson7"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "activities.custom_activities"
        ],
        "summary": "Delete a Custom Activity instance",
        "operationId": "ActivitiesCustomActivitiesDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson8"
                }
              }
            }
          }
        }
      }
    },
    "/activity/email": {
      "get": {
        "tags": [
          "activities.emails"
        ],
        "summary": "List or filter all Email activities",
        "description": "You\u0027ll get one object per email message.",
        "operationId": "ActivitiesEmailsList",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SkipParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_IdInParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_LeadIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ContactIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_UserIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_OrganizationIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_TypeParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivitiesEmailsList200Response"
                },
                "example": {
                  "data": [
                    {
                      "_type": "Email",
                      "activity_at": "2013-02-08T05:02:42.050000\u002B00:00",
                      "attachments": [
                        {
                          "content_type": "image/png",
                          "filename": "screenshot.png",
                          "size": 1108447,
                          "url": "https://app.close.com/go/file/persisted/orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH/activity.email/acti_C4DFcBED1FwLSDqn853hjc979h7DIuH2vwABzGWhRAO/3iPCenL9lciJrKnjFucsJ8/screenshot.png"
                        }
                      ],
                      "bcc": [],
                      "body_html": "Cool!\u003Cbr\u003E\n\u003Cbr\u003E\nThis is rad. \u0026lt;3\u003Cbr\u003E\n\u003Cbr\u003E\u003Cbr\u003E______________________________________________\u003Cbr\u003ESent via \u003Ca href=\u0027http://close.com/?utm_source=signature\u0026utm_medium=email\u0026utm_campaign=signature\u0027\u003EClose\u003C/a\u003E \u0026ndash; sales communication made simple",
                      "body_text": "Cool!\n\nThis is rad. \u003C3\n\n\n______________________________________________\nSent via http://close.com/ - sales communication made simple",
                      "body_text_quoted": [
                        {
                          "expand": true,
                          "text": "Cool!\n\nThis is rad. \u003C3\n\n\n______________________________________________\nSent via http://close.com/ - sales communication made simple"
                        }
                      ],
                      "bulk_email_action_id": null,
                      "cc": [],
                      "contact_id": "cont_eXZwc2SVL4G3xSR85jnfPny2ykvoAQndSyi1Doa2YLO",
                      "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "created_by_name": "Bruce Wayne",
                      "date_created": "2013-02-08T05:02:42.050000\u002B00:00",
                      "date_scheduled": null,
                      "date_sent": "2013-02-08T05:02:42.050000\u002B00:00",
                      "date_updated": "2013-02-08T05:03:16.281000\u002B00:00",
                      "direction": "outgoing",
                      "envelope": {
                        "bcc": [],
                        "cc": [],
                        "date": "Fri, 08 Feb 2013 05:03:15 \u002B0000",
                        "from": [
                          {
                            "email": "phil@close.com",
                            "name": "Phil Freo"
                          }
                        ],
                        "in_reply_to": null,
                        "message_id": "\u003C20130208050314.11553.33819@ec2-54-245-86-79.us-west-2.compute.amazonaws.com\u003E",
                        "reply_to": [],
                        "sender": [
                          {
                            "email": "phil@close.com",
                            "name": "Phil Freo"
                          }
                        ],
                        "subject": "Testing testing!!!!",
                        "to": [
                          {
                            "email": "phil@close.com",
                            "name": ""
                          }
                        ]
                      },
                      "followup_sequence_add_cc_bcc": false,
                      "followup_sequence_delay": null,
                      "has_reply": false,
                      "id": "acti_C4DFcBED1FwLSDqn853hjc979h7DIuH2vwABzGWhRAO",
                      "in_reply_to_id": null,
                      "lead_id": "lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h",
                      "message_ids": [
                        "\u003C20130208050314.11553.33819@ec2-54-245-86-79.us-west-2.compute.amazonaws.com\u003E"
                      ],
                      "need_smtp_credentials": false,
                      "opens": [],
                      "opens_summary": null,
                      "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                      "references": [],
                      "send_as_id": null,
                      "send_attempts": [],
                      "sender": "phil@close.com",
                      "sequence_id": "seq_1BTljGuCooX0nbFoPihl07",
                      "sequence_name": "My Sequence",
                      "sequence_subscription_id": "sub_wRlAku35U53xEV7PcNY3Qo",
                      "status": "sent",
                      "subject": "Testing testing!!!!",
                      "template_id": null,
                      "thread_id": "acti_C4DFcBED1FwLSDqn853hjc979h7DIuH2vwABzGWhRAO",
                      "to": [
                        "phil@close.com"
                      ],
                      "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "updated_by_name": "Bruce Wayne",
                      "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "user_name": "John Wayne",
                      "users": []
                    },
                    {
                      "_type": "Email",
                      "activity_at": "2013-02-01T00:54:51.274000\u002B00:00",
                      "attachments": [],
                      "bcc": [],
                      "body_html": "Hi! My name is Karan and I\u0027m your Account Manager. I\u0027m here to get your team set up and help with anything you may need as you evaluate our platform. Please don\u0027t hesitate to reach out to me with any questions!",
                      "body_text": "Hi! My name is Karan and I\u0027m your Account Manager. I\u0027m here to get your team set up and help with anything you may need as you evaluate our platform. Please don\u0027t hesitate to reach out to me with any questions!",
                      "body_text_quoted": [
                        {
                          "expand": true,
                          "text": "Hi! My name is Karan and I\u0027m your Account Manager. I\u0027m here to get your team set up and help with anything you may need as you evaluate our platform. Please don\u0027t hesitate to reach out to me with any questions!"
                        }
                      ],
                      "bulk_email_action_id": null,
                      "cc": [],
                      "contact_id": "cont_8NNOJnVwmHQEYuVOgJ4B4zU7g9RUxYH4JnPjza5Vr6t",
                      "created_by": null,
                      "date_created": "2013-02-01T00:54:51.274000\u002B00:00",
                      "date_scheduled": null,
                      "date_sent": "2013-02-01T00:54:51.274000\u002B00:00",
                      "date_updated": "2013-02-01T00:56:04.184000\u002B00:00",
                      "direction": "incoming",
                      "envelope": {
                        "bcc": [],
                        "cc": [],
                        "date": "Fri, 01 Feb 2013 00:54:51 \u002B0000",
                        "from": [
                          {
                            "email": "karan@close.com",
                            "name": ""
                          }
                        ],
                        "in_reply_to": null,
                        "message_id": "\u003C20130201005451.14369.20369@ec2-54-245-86-79.us-west-2.compute.amazonaws.com\u003E",
                        "reply_to": [],
                        "sender": [
                          {
                            "email": "karan@close.com",
                            "name": ""
                          }
                        ],
                        "subject": "Welcome to Close!",
                        "to": [
                          {
                            "email": "phil\u002Bsample@close.com",
                            "name": ""
                          }
                        ]
                      },
                      "followup_sequence_add_cc_bcc": false,
                      "followup_sequence_delay": null,
                      "has_reply": false,
                      "id": "acti_WuIVvTT9b3zLmOOWalxK0OrqtdkxEEdu4mNr1TPGb2o",
                      "in_reply_to_id": null,
                      "lead_id": "lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h",
                      "message_ids": [
                        "\u003C20130201005451.14369.20369@ec2-54-245-86-79.us-west-2.compute.amazonaws.com\u003E"
                      ],
                      "need_smtp_credentials": false,
                      "opens": [],
                      "opens_summary": null,
                      "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                      "references": [],
                      "send_as_id": null,
                      "send_attempts": [],
                      "sender": "karan@close.com",
                      "status": "inbox",
                      "subject": "Welcome to Close!",
                      "template_id": null,
                      "thread_id": "acti_WuIVvTT9b3zLmOOWalxK0OrqtdkxEEdu4mNr1TPGb2o",
                      "to": [
                        "phil\u002Bsample@close.com"
                      ],
                      "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "updated_by_name": "Bruce Wayne",
                      "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "users": []
                    }
                  ],
                  "has_more": false
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "activities.emails"
        ],
        "summary": "Create an Email activity",
        "description": "\u0022*status* must be one of the following:\n\n - \u0060inbox\u0060 to log an already received email.\n - \u0060draft\u0060 to create a draft email.\n - \u0060scheduled\u0060 to send an email at a scheduled date and time, which must be specified in the \u0060date_scheduled\u0060 field.\n - \u0060outbox\u0060 to actually **send** an email. To delay email sending by a few seconds (to allow undo), specify \u0060send_in\u0060 in seconds (must be less than 60).\n - \u0060sent\u0060 to log an already sent email.\n\nOnly drafts can be modified, and their status can be changed to \u0060scheduled\u0060 (to send later) or \u0060outbox\u0060 (to send immediately). Scheduled emails, or emails in outbox that weren\u0027t sent yet can be canceled by setting the status back to \u0060draft\u0060.\n\nFor scheduled, outbox, or sent emails, a \u0060followup_date\u0060 may be posted, which will have Close create an email followup task if no response was received.\n\nWe\u0027ll render an Email Template server-side if you include a \u0060template_id\u0060 _without_ including \u0060body_text\u0060 or \u0060body_html\u0060 in your POST.\n\nTo specify both a sender name and a sender email address when posting an email, you can use the \u0060sender\u0060 field with the format \u0060\\\u0022sender\\\u0022: \\\u0022\\\u0022John Smith\\\u0022 \u003Cemailaddress@example.com\u003E\\\u0022\u0060\n\nThe \u0060sender\u0060 field is **required** for emails with status \u0060inbox\u0060, \u0060scheduled\u0060, \u0060outbox\u0060, or \u0060error\u0060. It may be omitted for \u0060draft\u0060 (since the sender can be specified later before sending) and \u0060sent\u0060 (where it defaults to the email address of the \u0060user\u0060 associated with the email or the owner of the API key).\n\nTo include an attachment, you must first upload the file to Close using the [Files API](https://developer.close.com/api/resources/files). Then, add an object to the \u0060attachments\u0060 array with the following fields: \u0060url\u0060, \u0060filename\u0060, \u0060content_type\u0060, and \u0060size\u0060. The \u0060url\u0060 should be the URL provided in the \u0060download.url\u0060 field of the response from the [Files API](https://developer.close.com/api/resources/files). It must begin \u0060https://app.close.com/go/file/\u0060.\u0022",
        "operationId": "ActivitiesEmailsCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmailActivity"
              },
              "example": {
                "attachments": [
                  {
                    "content_type": "image/jpeg",
                    "filename": "image.jpg",
                    "size": 1108447,
                    "url": "https://app.close.com/go/file/temporary/user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk/1Zx0AlY1DwBXzKKrVwpAoj/image.jpg/"
                  }
                ],
                "bcc": [],
                "body_html": "Hi! My name is Karan and I\u0027m your Account Manager. I\u0027m here to get your team set up and help with anything you may need as you evaluate our platform. Please don\u0027t hesitate to reach out to me with any questions!",
                "body_text": "Hi! My name is Karan and I\u0027m your Account Manager. I\u0027m here to get your team set up and help with anything you may need as you evaluate our platform. Please don\u0027t hesitate to reach out to me with any questions!",
                "cc": [],
                "contact_id": "cont_8NNOJnVwmHQEYuVOgJ4B4zU7g9RUxYH4JnPjza5Vr6t",
                "created_by": null,
                "date_created": "2013-02-01T00:54:51.274000\u002B00:00",
                "email_account_id": "emailacct_nuALjWGi09rlr36zXp0ygjja9De0mzPqyqPPVsriTzt",
                "lead_id": "lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h",
                "sender": "karan@close.com",
                "status": "draft",
                "subject": "Welcome to Close!",
                "template_id": null,
                "to": [
                  "phil\u002Bsample@close.com"
                ],
                "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailActivity"
                },
                "example": {
                  "_type": "Email",
                  "activity_at": "2015-06-26T02:01:43.059265",
                  "attachments": [
                    {
                      "content_id": null,
                      "content_type": "image/jpeg",
                      "filename": "image.jpg",
                      "inline_only": false,
                      "size": 1108447,
                      "url": "https://app.close.com/go/file/persisted/orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH/activity.email/acti_EdpqkmtlQHIDWE2CixJo606BapX34SpYV3fzHryGPc3/1Zx0AlY1DwBXzKKrVwpAoj/image.jpg/"
                    }
                  ],
                  "bcc": [],
                  "body_html": "Hi! My name is Karan and I\u0027m your Account Manager. I\u0027m here to get your team set up and help with anything you may need as you evaluate our platform. Please don\u0027t hesitate to reach out to me with any questions!",
                  "body_html_quoted": {
                    "expand": true,
                    "html": "Hi! My name is Karan and I\u0027m your Account Manager. I\u0027m here to get your team set up and help with anything you may need as you evaluate our platform. Please don\u0027t hesitate to reach out to me with any questions!"
                  },
                  "body_preview": "Hi! My name is Karan and I\u0027m your Account Manager. I\u0027m here to get your team set up and help with anything you may need as you evaluate our platform. Please don\u0027t hesitate to reach out to me with any ",
                  "body_text": "Hi! My name is Karan and I\u0027m your Account Manager. I\u0027m here to get your team set up and help with anything you may need as you evaluate our platform. Please don\u0027t hesitate to reach out to me with any questions!",
                  "body_text_quoted": null,
                  "bulk_email_action_id": null,
                  "cc": [],
                  "contact_id": "cont_8NNOJnVwmHQEYuVOgJ4B4zU7g9RUxYH4JnPjza5Vr6t",
                  "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "created_by_name": "Steve Wiseman",
                  "date_created": "2015-06-26T02:01:43.059265",
                  "date_scheduled": null,
                  "date_sent": null,
                  "date_updated": "2015-06-26T02:01:43.101910",
                  "direction": "outgoing",
                  "email_account_id": "emailacct_nuALjWGi09rlr36zXp0ygjja9De0mzPqyqPPVsriTzt",
                  "envelope": null,
                  "followup_sequence_add_cc_bcc": false,
                  "followup_sequence_delay": null,
                  "has_reply": false,
                  "id": "acti_EdpqkmtlQHIDWE2CixJo606BapX34SpYV3fzHryGPc3",
                  "in_reply_to_id": null,
                  "lead_id": "lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h",
                  "message_ids": [],
                  "need_smtp_credentials": false,
                  "opens": [],
                  "opens_summary": null,
                  "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                  "references": [],
                  "send_as_id": null,
                  "send_attempts": [],
                  "sender": "karan@close.com",
                  "sequence_id": null,
                  "sequence_name": null,
                  "sequence_subscription_id": null,
                  "status": "draft",
                  "subject": "Welcome to Close!",
                  "template_id": null,
                  "template_name": null,
                  "thread_id": "acti_3VFfJMUKvwvQPXAbXAbs9b01usbFC5acL8MrmFcsmK5",
                  "to": [
                    "phil\u002Bsample@gclose.com"
                  ],
                  "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "updated_by_name": "Steve Wiseman",
                  "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "user_name": "Steve Wiseman",
                  "users": []
                }
              }
            }
          }
        }
      }
    },
    "/activity/email/{id}": {
      "get": {
        "tags": [
          "activities.emails"
        ],
        "summary": "Get a single Email activity",
        "operationId": "ActivitiesEmailsGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailActivity"
                },
                "example": {
                  "_type": "Email",
                  "activity_at": "2013-02-01T00:54:51.274000\u002B00:00",
                  "attachments": [],
                  "bcc": [],
                  "body_html": "Hi! My name is Karan and I\u0027m your Account Manager. I\u0027m here to get your team set up and help with anything you may need as you evaluate our platform. Please don\u0027t hesitate to reach out to me with any questions!",
                  "body_text": "Hi! My name is Karan and I\u0027m your Account Manager. I\u0027m here to get your team set up and help with anything you may need as you evaluate our platform. Please don\u0027t hesitate to reach out to me with any questions!",
                  "body_text_quoted": [
                    {
                      "expand": true,
                      "text": "Hi! My name is Karan and I\u0027m your Account Manager. I\u0027m here to get your team set up and help with anything you may need as you evaluate our platform. Please don\u0027t hesitate to reach out to me with any questions!"
                    }
                  ],
                  "bulk_email_action_id": null,
                  "cc": [],
                  "contact_id": "cont_8NNOJnVwmHQEYuVOgJ4B4zU7g9RUxYH4JnPjza5Vr6t",
                  "created_by": null,
                  "date_created": "2013-02-01T00:54:51.274000\u002B00:00",
                  "date_scheduled": null,
                  "date_sent": "2013-02-01T00:54:51.274000\u002B00:00",
                  "date_updated": "2013-02-01T00:56:04.184000\u002B00:00",
                  "direction": "incoming",
                  "envelope": {
                    "bcc": [],
                    "cc": [],
                    "date": "Fri, 01 Feb 2013 00:54:51 \u002B0000",
                    "from": [
                      {
                        "email": "karan@close.com",
                        "name": ""
                      }
                    ],
                    "in_reply_to": null,
                    "message_id": "\u003C20130201005451.14369.20369@ec2-54-245-86-79.us-west-2.compute.amazonaws.com\u003E",
                    "reply_to": [],
                    "sender": [
                      {
                        "email": "karan@close.com",
                        "name": ""
                      }
                    ],
                    "subject": "Welcome to Close!",
                    "to": [
                      {
                        "email": "phil\u002Bsample@close.com",
                        "name": ""
                      }
                    ]
                  },
                  "followup_sequence_add_cc_bcc": false,
                  "followup_sequence_delay": null,
                  "has_reply": false,
                  "id": "acti_WuIVvTT9b3zLmOOWalxK0OrqtdkxEEdu4mNr1TPGb2o",
                  "in_reply_to_id": null,
                  "lead_id": "lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h",
                  "message_ids": [],
                  "need_smtp_credentials": false,
                  "opens": [],
                  "opens_summary": null,
                  "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                  "references": [],
                  "send_as_id": null,
                  "send_attempts": [],
                  "sender": "karan@close.com",
                  "sequence_id": "seq_1BTljGuCooX0nbFoPihl07",
                  "sequence_name": "My Sequence",
                  "sequence_subscription_id": "sub_wRlAku35U53xEV7PcNY3Qo",
                  "status": "inbox",
                  "subject": "Welcome to Close!",
                  "template_id": null,
                  "thread_id": "acti_WuIVvTT9b3zLmOOWalxK0OrqtdkxEEdu4mNr1TPGb2o",
                  "to": [
                    "phil\u002Bsample@close.com"
                  ],
                  "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "updated_by_name": "Bruce Wayne",
                  "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "user_name": "Bruce Wayne",
                  "users": []
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "activities.emails"
        ],
        "summary": "Update an Email activity",
        "description": "This can be used to modify a draft or send it once the draft is complete.\n\nWhen changing a draft\u0027s status to \u0060scheduled\u0060 or \u0060outbox\u0060, the \u0060sender\u0060 field is required if not already set on the email.",
        "operationId": "ActivitiesEmailsUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEmailActivity"
              },
              "example": {
                "subject": "Updated subject!"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailActivity"
                },
                "example": {
                  "_type": "Email",
                  "activity_at": "2015-06-26T02:01:43.059265",
                  "attachments": [],
                  "bcc": [],
                  "body_html": "Hi! My name is Karan and I\u0027m your Account Manager. I\u0027m here to get your team set up and help with anything you may need as you evaluate our platform. Please don\u0027t hesitate to reach out to me with any questions!",
                  "body_html_quoted": {
                    "expand": true,
                    "html": "Hi! My name is Karan and I\u0027m your Account Manager. I\u0027m here to get your team set up and help with anything you may need as you evaluate our platform. Please don\u0027t hesitate to reach out to me with any questions!"
                  },
                  "body_preview": "Hi! My name is Karan and I\u0027m your Account Manager. I\u0027m here to get your team set up and help with anything you may need as you evaluate our platform. Please don\u0027t hesitate to reach out to me with any ",
                  "body_text": "Hi! My name is Karan and I\u0027m your Account Manager. I\u0027m here to get your team set up and help with anything you may need as you evaluate our platform. Please don\u0027t hesitate to reach out to me with any questions!",
                  "body_text_quoted": null,
                  "bulk_email_action_id": null,
                  "cc": [],
                  "contact_id": "cont_8NNOJnVwmHQEYuVOgJ4B4zU7g9RUxYH4JnPjza5Vr6t",
                  "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "created_by_name": "Steve Wiseman",
                  "date_created": "2015-06-26T02:01:43.059265",
                  "date_scheduled": null,
                  "date_sent": null,
                  "date_updated": "2015-06-26T02:01:43.101910",
                  "direction": "outgoing",
                  "email_account_id": null,
                  "envelope": null,
                  "followup_sequence_add_cc_bcc": false,
                  "followup_sequence_delay": null,
                  "has_reply": false,
                  "id": "acti_EdpqkmtlQHIDWE2CixJo606BapX34SpYV3fzHryGPc3",
                  "in_reply_to_id": null,
                  "lead_id": "lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h",
                  "message_ids": [],
                  "need_smtp_credentials": false,
                  "opens": [],
                  "opens_summary": null,
                  "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                  "references": [],
                  "send_as_id": null,
                  "send_attempts": [],
                  "sender": "karan@close.com",
                  "sequence_id": null,
                  "sequence_name": null,
                  "sequence_subscription_id": null,
                  "status": "draft",
                  "subject": "Updated subject!",
                  "template_id": null,
                  "template_name": null,
                  "thread_id": "acti_3VFfJMUKvwvQPXAbXAbs9b01usbFC5acL8MrmFcsmK5",
                  "to": [
                    "phil\u002Bsample@gclose.com"
                  ],
                  "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "updated_by_name": "Steve Wiseman",
                  "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "user_name": "Steve Wiseman",
                  "users": []
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "activities.emails"
        ],
        "summary": "Delete an Email activity",
        "operationId": "ActivitiesEmailsDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson9"
                }
              }
            }
          }
        }
      }
    },
    "/activity/emailthread": {
      "get": {
        "tags": [
          "activities.email_threads"
        ],
        "summary": "List or filter all EmailThread activities",
        "description": "You\u0027ll get one object per email conversation (generally grouped by subject).",
        "operationId": "ActivitiesEmailThreadsList",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SkipParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_IdInParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_LeadIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ContactIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_UserIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_OrganizationIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_TypeParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson10"
                }
              }
            }
          }
        }
      }
    },
    "/activity/emailthread/{id}": {
      "get": {
        "tags": [
          "activities.email_threads"
        ],
        "summary": "Get a single EmailThread activity",
        "operationId": "ActivitiesEmailThreadsGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson11"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "activities.email_threads"
        ],
        "summary": "Delete an EmailThread activity",
        "description": "This will also delete all the email activities belonging to this thread.",
        "operationId": "ActivitiesEmailThreadsDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson12"
                }
              }
            }
          }
        }
      }
    },
    "/activity/form_submission": {
      "get": {
        "tags": [
          "activities.form_submissions"
        ],
        "summary": "List or filter all FormSubmission activities",
        "description": "Get a list of matching FormSubmission activities. In addition to standard Activity filtering parameters, you can filter by specific form(s) using the \u0060form_id\u0060 or \u0060form_id__in\u0060 parameters.",
        "operationId": "ActivitiesFormSubmissionsList",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SkipParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_IdInParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_LeadIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ContactIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_UserIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_OrganizationIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_TypeParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLtParam"
          },
          {
            "name": "lead_id__in",
            "in": "query",
            "schema": {
              "title": "Lead ID (In)",
              "type": "string"
            }
          },
          {
            "name": "user_id__in",
            "in": "query",
            "schema": {
              "title": "User ID (In)",
              "type": "string"
            }
          },
          {
            "name": "contact_id__in",
            "in": "query",
            "schema": {
              "title": "Contact ID (In)",
              "type": "string"
            }
          },
          {
            "name": "_type__in",
            "in": "query",
            "schema": {
              "title": "Type (In)",
              "type": "string"
            }
          },
          {
            "name": "form_id",
            "in": "query",
            "description": "Filter by a specific form ID.",
            "schema": {
              "title": "Form ID",
              "type": "object",
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ],
              "default": null,
              "nullable": true
            }
          },
          {
            "name": "form_id__in",
            "in": "query",
            "description": "Filter by multiple form IDs (comma-separated).",
            "schema": {
              "title": "Form ID (In)",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivitiesFormSubmissionsList200Response"
                },
                "example": {
                  "data": [
                    {
                      "_type": "FormSubmission",
                      "activity_at": "2025-01-02T10:30:00.000000\u002B00:00",
                      "contact_id": "cont_q4xYmlGhA3060dEl0NDJuHRxPMuVjqLn30AFSzh1fRk",
                      "created_by": null,
                      "created_by_name": null,
                      "date_created": "2025-01-02T10:30:00.000000\u002B00:00",
                      "date_updated": "2025-01-02T10:30:00.000000\u002B00:00",
                      "form_configuration_id": "formconf_0325NyQ1X3HplqjyP631at",
                      "form_id": "form_0325NAK3KhCZ3EdJfDldRU",
                      "id": "acti_j0fs4KP22Ngn68GE5kInEcC7JWsbJzXthV1A8WtyZEk",
                      "ip_address": "192.168.1.100",
                      "lead_id": "lead_iuSXNk1x3446ggPVwQS7ynmp8pGRIDieRYiCnuo4yFb",
                      "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                      "origin": "https://example.com",
                      "source_url": "https://example.com/contact?utm_source=google\u0026utm_campaign=demo",
                      "source_url_normalized": "example.com/contact",
                      "updated_by": null,
                      "updated_by_name": null,
                      "user_id": null,
                      "user_name": null,
                      "users": [],
                      "values": {
                        "formfld_0325NAK2ePwMEBJrZZCk5F": "John Doe",
                        "formfld_0325NAK2kjTXTUFwW4i01n": "john@example.com",
                        "formfld_08slbL4D4wR3vOqf28RvhF": true
                      },
                      "values_by_name": {}
                    }
                  ],
                  "has_more": false
                }
              }
            }
          }
        }
      }
    },
    "/activity/form_submission/{id}": {
      "get": {
        "tags": [
          "activities.form_submissions"
        ],
        "summary": "Get a single FormSubmission activity",
        "operationId": "ActivitiesFormSubmissionsGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormSubmissionActivity"
                },
                "example": {
                  "_type": "FormSubmission",
                  "activity_at": "2025-01-02T10:30:00.000000\u002B00:00",
                  "contact_id": "cont_q4xYmlGhA3060dEl0NDJuHRxPMuVjqLn30AFSzh1fRk",
                  "created_by": null,
                  "created_by_name": null,
                  "date_created": "2025-01-02T10:30:00.000000\u002B00:00",
                  "date_updated": "2025-01-02T10:30:00.000000\u002B00:00",
                  "form_configuration_id": "formconf_0325NyQ1X3HplqjyP631at",
                  "form_id": "form_0325NAK3KhCZ3EdJfDldRU",
                  "id": "acti_j0fs4KP22Ngn68GE5kInEcC7JWsbJzXthV1A8WtyZEk",
                  "ip_address": "192.168.1.100",
                  "lead_id": "lead_iuSXNk1x3446ggPVwQS7ynmp8pGRIDieRYiCnuo4yFb",
                  "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                  "origin": "https://example.com",
                  "source_url": "https://example.com/contact?utm_source=google\u0026utm_campaign=demo",
                  "source_url_normalized": "example.com/contact",
                  "updated_by": null,
                  "updated_by_name": null,
                  "user_id": null,
                  "user_name": null,
                  "users": [],
                  "values": {
                    "formfld_0325NAK2ePwMEBJrZZCk5F": "John Doe",
                    "formfld_0325NAK2kjTXTUFwW4i01n": "john@example.com",
                    "formfld_08slbL4D4wR3vOqf28RvhF": true
                  },
                  "values_by_name": {}
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "activities.form_submissions"
        ],
        "summary": "Delete a FormSubmission activity",
        "operationId": "ActivitiesFormSubmissionsDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson13"
                }
              }
            }
          }
        }
      }
    },
    "/activity/lead_merge": {
      "get": {
        "tags": [
          "activities.lead_merges"
        ],
        "summary": "List or filter all LeadMerge activities",
        "operationId": "ActivitiesLeadMergesList",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SkipParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_IdInParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_LeadIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ContactIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_UserIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_OrganizationIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_TypeParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson14"
                }
              }
            }
          }
        }
      }
    },
    "/activity/lead_merge/{id}": {
      "get": {
        "tags": [
          "activities.lead_merges"
        ],
        "summary": "Get a single LeadMerge activity",
        "operationId": "ActivitiesLeadMergesGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson15"
                }
              }
            }
          }
        }
      }
    },
    "/activity/meeting": {
      "get": {
        "tags": [
          "activities.meetings"
        ],
        "summary": "List or filter all Meeting activities",
        "operationId": "ActivitiesMeetingsList",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SkipParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_IdInParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_LeadIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ContactIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_UserIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_OrganizationIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_TypeParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLtParam"
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson16"
                }
              }
            }
          }
        }
      }
    },
    "/activity/meeting/{id}": {
      "get": {
        "tags": [
          "activities.meetings"
        ],
        "summary": "Get a single Meeting activity",
        "description": "\u0022Meeting transcripts can be accessed using this API but are not loaded by default. To load transcripts, use the \u0060_fields\u0060 parameter with \u0060transcripts\u0060 value.\n\nThe \u0060transcripts\u0060 field is an array of objects for each Close Notetaker bot that joined the meeting. Typically, there will be only one transcript. Transcripts are ordered by the time bots joined the meeting.\n\nExample transcripts in response:\n\n\u0060\u0060\u0060json\n{ \\\u0022transcripts\\\u0022: [ { \\\u0022utterances\\\u0022: [ { \\\u0022speaker_label\\\u0022: \\\u0022John Lead\\\u0022, \\\u0022speaker_side\\\u0022: \\\u0022contact\\\u0022, \\\u0022start\\\u0022: 0.1, \\\u0022end\\\u0022: 1.2, \\\u0022text\\\u0022: \\\u0022Hey, what\u0027s up? How is it going?\\\u0022 }, { \\\u0022speaker_label\\\u0022: \\\u0022Jane User\\\u0022, \\\u0022speaker_side\\\u0022: \\\u0022close-user\\\u0022, \\\u0022start\\\u0022: 1.3, \\\u0022end\\\u0022: 2.4, \\\u0022text\\\u0022: \\\u0022Hey John, I\u0027m doing great. How about you?\\\u0022 } ], \\\u0022summary_text\\\u0022: \\\u0022Summary text\\\u0022, \\\u0022summary_html\\\u0022: \\\u0022\u003Cp\u003ESummary text\u003C/p\u003E\\\u0022 } ] }\n\u0060\u0060\u0060\u0022",
        "operationId": "ActivitiesMeetingsGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson17"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "activities.meetings"
        ],
        "summary": "Update a Meeting activity",
        "description": "Most commonly this can be used to update a meetings\u0027s \u0060user_note_html\u0060 or \u0060outcome_id\u0060.",
        "operationId": "ActivitiesMeetingsUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Fallback request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivitiesMeetingsUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson18"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "activities.meetings"
        ],
        "summary": "Delete a Meeting activity",
        "operationId": "ActivitiesMeetingsDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson19"
                }
              }
            }
          }
        }
      }
    },
    "/activity/meeting/{id}/integration": {
      "post": {
        "tags": [
          "activities.meetings"
        ],
        "summary": "Create or update third-party Meeting integration",
        "description": "Please note that only OAuth apps can perform this operation. Using API key will result in an error. See [Authentication with OAuth](https://developer.close.com/api/overview/oauth-authentication) for more information.\n\nThird party integrations are presented as tabs titled with OAuth app name in the activity feed. When invoked for the first time with a given OAuth app a new integration is created, subsequent calls with the same OAuth app will update an existing integration. Submitting an empty JSON body does nothing.",
        "operationId": "ActivitiesMeetingsCreateIntegration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Fallback request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivitiesMeetingsCreateIntegrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson20"
                }
              }
            }
          }
        }
      }
    },
    "/activity/note": {
      "get": {
        "tags": [
          "activities.notes"
        ],
        "summary": "List or filter all Note activities",
        "operationId": "ActivitiesNotesList",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SkipParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_IdInParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_LeadIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ContactIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_UserIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_OrganizationIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_TypeParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLtParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivitiesNotesList200Response"
                },
                "example": {
                  "data": [
                    {
                      "_type": "Note",
                      "activity_at": "2013-02-01T01:05:04.070000\u002B00:00",
                      "contact_id": null,
                      "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "created_by_name": "Bruce Wayne",
                      "date_created": "2013-02-01T01:05:04.070000\u002B00:00",
                      "date_updated": "2013-02-01T01:06:35.668000\u002B00:00",
                      "id": "acti_XOyG7jURMfsLgKuYGqbQ4Qp7L5a16pQOcDfTgotqDak",
                      "lead_id": "lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h",
                      "note": "Welcome to Close!\n\nGet started by:\n\n  1. Import your leads! Use our \u0022Bulk CSV Upload\u0022 tool by clicking your name in the top right. Add leads manually by clicking \u0022New Lead\u0022 in the lower left.\n  2. Invite your co-workers!\n  3. Setup two-way syncing of your emails by going to Settings -\u003E Email Settings.",
                      "note_html": "\u003Cbody\u003E\u003Cp\u003EWelcome to Close!\u003C/p\u003E\u003Cp\u003EGet started by:\u003C/p\u003E\u003Col\u003E\u003Cli\u003EImport your leads! Use our \u0022Bulk CSV Upload\u0022 tool by clicking your name in the top right. Add leads manually by clicking \u0022New Lead\u0022 in the lower left.\u003C/li\u003E\u003Cli\u003EInvite your co-workers!\u003C/li\u003E\u003Cli\u003ESetup two-way syncing of your emails by going to Settings -\u003E Email Settings.\u003C/li\u003E\u003C/ol\u003E\u003C/body\u003E",
                      "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                      "pinned": true,
                      "pinned_at": "2025-08-19T14:14:34.383000\u002B00:00",
                      "title": "Welcome to Close!",
                      "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "updated_by_name": "Bruce Wayne",
                      "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "user_name": "Bruce Wayne",
                      "users": []
                    }
                  ],
                  "has_more": false
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "activities.notes"
        ],
        "summary": "Create a Note activity",
        "description": "\u0022To include an attachment, you must first upload the file to Close using the [Files API](https://developer.close.com/api/resources/files). Then, add an object to the \u0060attachments\u0060 array with the following fields: \u0060url\u0060, \u0060filename\u0060 and \u0060content_type\u0060. The \u0060url\u0060 should be the URL provided in the \u0060download.url\u0060 field of the response from the [Files API](https://developer.close.com/api/resources/files). It must begin \u0060https://app.close.com/go/file/\u0060.\n\nA note can be pinned or unpinned by setting the \u0060pinned\u0060 field to \u0060true\u0060 or \u0060false\u0060 when creating or updating a note.\u0022",
        "operationId": "ActivitiesNotesCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoteActivity"
              },
              "example": {
                "attachments": [
                  {
                    "content_type": "image/gif",
                    "filename": "picture.gif",
                    "url": "https://app.close.com/go/file/temporary/user_MvDoAZA889UMrgsZbnXmHkJSomSi7qk2Iwc4JnGHTbo/3HV4BNwDyBLdfrPbFZF78s/picture.gif/"
                  }
                ],
                "lead_id": "lead_s6vHFTK1TSRoH6otXOexWDO9jM4xyb1kELHDoU7Fdsp",
                "note_html": "\u003Cbody\u003E\u003Cp\u003Ethis is a test note.\u003C/p\u003E\u003C/body\u003E"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityBase"
                },
                "example": {
                  "_type": "Note",
                  "activity_at": "2013-02-20T06:39:57.266000\u002B00:00",
                  "attachments": [
                    {
                      "content_type": "image/gif",
                      "filename": "picture.gif",
                      "size": 20673,
                      "thumbnail_url": "https://app.close.com/go/file/persisted/orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH/activity.note/acti_kwWA3rOfy4BnaZ8QQk3RIIAz51dU9ayiluy1s961Oiw/3HV4BNwDyBLdfrPbFZF78s/picture.gif/thumbnail/",
                      "url": "https://app.close.com/go/file/persisted/orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH/activity.note/acti_kwWA3rOfy4BnaZ8QQk3RIIAz51dU9ayiluy1s961Oiw/3HV4BNwDyBLdfrPbFZF78s/picture.gif/"
                    }
                  ],
                  "contact_id": null,
                  "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "created_by_name": "Bruce Wayne",
                  "date_created": "2013-02-20T06:39:57.266000\u002B00:00",
                  "date_updated": "2013-02-20T06:39:57.266000\u002B00:00",
                  "id": "acti_kwWA3rOfy4BnaZ8QQk3RIIAz51dU9ayiluy1s961Oiw",
                  "lead_id": "lead_s6vHFTK1TSRoH6otXOexWDO9jM4xyb1kELHDoU7Fdsp",
                  "note": "this is a test note.",
                  "note_html": "\u003Cbody\u003E\u003Cp\u003Ethis is a test note.\u003C/p\u003E\u003C/body\u003E",
                  "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                  "pinned": false,
                  "pinned_at": null,
                  "title": null,
                  "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "updated_by_name": "Bruce Wayne",
                  "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "user_name": "Bruce Wayne",
                  "users": []
                }
              }
            }
          }
        }
      }
    },
    "/activity/note/{id}": {
      "get": {
        "tags": [
          "activities.notes"
        ],
        "summary": "Get a single Note activity",
        "operationId": "ActivitiesNotesGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityBase"
                },
                "example": {
                  "_type": "Note",
                  "activity_at": "2013-02-01T01:05:04.070000\u002B00:00",
                  "attachments": [
                    {
                      "content_type": "image/gif",
                      "filename": "picture.gif",
                      "size": 20673,
                      "thumbnail_url": "https://app.close.com/go/file/persisted/orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH/activity.note/acti_XOyG7jURMfsLgKuYGqbQ4Qp7L5a16pQOcDfTgotqDak/3HV4BNwDyBLdfrPbFZF78s/picture.gif/thumbnail/",
                      "url": "https://app.close.com/go/file/persisted/orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH/activity.note/acti_XOyG7jURMfsLgKuYGqbQ4Qp7L5a16pQOcDfTgotqDak/3HV4BNwDyBLdfrPbFZF78s/picture.gif/"
                    }
                  ],
                  "contact_id": null,
                  "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "created_by_name": "Bruce Wayne",
                  "date_created": "2013-02-01T01:05:04.070000\u002B00:00",
                  "date_updated": "2013-02-01T01:06:35.668000\u002B00:00",
                  "id": "acti_XOyG7jURMfsLgKuYGqbQ4Qp7L5a16pQOcDfTgotqDak",
                  "lead_id": "lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h",
                  "note": "Welcome to Close!\n\nGet started by:\n\n  1. Import your leads! Use our \u0022Bulk CSV Upload\u0022 tool by clicking your name in the top right. Add leads manually by clicking \u0022New Lead\u0022 in the lower left.\n  2. Invite your co-workers!\n  3. Setup two-way syncing of your emails by going to Settings -\u003E Email Settings.",
                  "note_html": "\u003Cbody\u003E\u003Cp\u003EWelcome to Close!\u003C/p\u003E\u003Cp\u003EGet started by:\u003C/p\u003E\u003Col\u003E\u003Cli\u003EImport your leads! Use our \u0022Bulk CSV Upload\u0022 tool by clicking your name in the top right. Add leads manually by clicking \u0022New Lead\u0022 in the lower left.\u003C/li\u003E\u003Cli\u003EInvite your co-workers!\u003C/li\u003E\u003Cli\u003ESetup two-way syncing of your emails by going to Settings -\u003E Email Settings.\u003C/li\u003E\u003C/ol\u003E\u003C/body\u003E",
                  "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                  "pinned_at": "2025-08-19T14:14:34.383000\u002B00:00",
                  "title": "Welcome to Close!",
                  "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "updated_by_name": "Bruce Wayne",
                  "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
[...]
