{
  "openapi": "3.1.0",
  "info": {
    "description": "Close CRM REST API",
    "title": "Close API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.close.com/api/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "activities",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/activities"
      }
    },
    {
      "name": "activities.calls",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/activities/calls"
      }
    },
    {
      "name": "activities.creations",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/activities/creations"
      }
    },
    {
      "name": "activities.custom_activities",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/activities/custom-activities"
      }
    },
    {
      "name": "activities.email_threads",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/activities/email-threads"
      }
    },
    {
      "name": "activities.emails",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/activities/emails"
      }
    },
    {
      "name": "activities.form_submissions",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/activities/form-submissions"
      }
    },
    {
      "name": "activities.lead_merges",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/activities/lead-merges"
      }
    },
    {
      "name": "activities.lead_status_changes",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/activities/lead-status-changes"
      }
    },
    {
      "name": "activities.meetings",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/activities/meetings"
      }
    },
    {
      "name": "activities.notes",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/activities/notes"
      }
    },
    {
      "name": "activities.opportunity_status_changes",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/activities/opportunity-status-changes"
      }
    },
    {
      "name": "activities.sms",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/activities/sms"
      }
    },
    {
      "name": "activities.task_completions",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/activities/task-completions"
      }
    },
    {
      "name": "activities.whatsapp_messages",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/activities/whatsapp"
      }
    },
    {
      "name": "blocked_phone_numbers",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/blocked-phone-numbers"
      }
    },
    {
      "name": "bulk_actions.delete",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/bulk-actions"
      }
    },
    {
      "name": "bulk_actions.edit",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/bulk-actions"
      }
    },
    {
      "name": "bulk_actions.email",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/bulk-actions"
      }
    },
    {
      "name": "bulk_actions.sequence_subscriptions",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/bulk-actions"
      }
    },
    {
      "name": "comments",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/comments"
      }
    },
    {
      "name": "connected_accounts",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/connected-accounts"
      }
    },
    {
      "name": "contacts",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/contacts"
      }
    },
    {
      "name": "custom_activity_types",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/custom-activity-types"
      }
    },
    {
      "name": "custom_field_schemas",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/custom-fields/custom-field-schemas"
      }
    },
    {
      "name": "custom_fields.activity",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/custom-fields/custom-fields-activity"
      }
    },
    {
      "name": "custom_fields.contact",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/custom-fields/custom-fields-contact"
      }
    },
    {
      "name": "custom_fields.custom_object",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/custom-fields/custom-fields-custom-object"
      }
    },
    {
      "name": "custom_fields.lead",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/custom-fields/custom-fields-lead"
      }
    },
    {
      "name": "custom_fields.opportunity",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/custom-fields/custom-fields-opportunity"
      }
    },
    {
      "name": "custom_fields.shared",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/custom-fields/custom-fields-shared"
      }
    },
    {
      "name": "custom_object_types",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/custom-object-types"
      }
    },
    {
      "name": "custom_objects",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/custom-objects"
      }
    },
    {
      "name": "dialers",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/dialers"
      }
    },
    {
      "name": "email_templates",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/email-templates"
      }
    },
    {
      "name": "events",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/events"
      }
    },
    {
      "name": "exports",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/exports"
      }
    },
    {
      "name": "field_enrichment",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/field-enrichment"
      }
    },
    {
      "name": "files",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/files"
      }
    },
    {
      "name": "forms",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/forms"
      }
    },
    {
      "name": "groups",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/groups"
      }
    },
    {
      "name": "integration_links",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/integration-links"
      }
    },
    {
      "name": "lead_statuses",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/lead-statuses"
      }
    },
    {
      "name": "leads",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/leads"
      }
    },
    {
      "name": "memberships",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/memberships"
      }
    },
    {
      "name": "opportunities",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/opportunities"
      }
    },
    {
      "name": "opportunity_statuses",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/opportunity-statuses"
      }
    },
    {
      "name": "organizations",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/organizations"
      }
    },
    {
      "name": "outcomes",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/outcomes"
      }
    },
    {
      "name": "phone_numbers",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/phone-numbers"
      }
    },
    {
      "name": "pipelines",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/pipelines"
      }
    },
    {
      "name": "playbooks",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/playbooks"
      }
    },
    {
      "name": "reporting",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/reporting"
      }
    },
    {
      "name": "roles",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/roles"
      }
    },
    {
      "name": "scheduling_links",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/scheduling-links"
      }
    },
    {
      "name": "send_as",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/send-as"
      }
    },
    {
      "name": "sequences",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/sequences"
      }
    },
    {
      "name": "smart_views",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/smart-views"
      }
    },
    {
      "name": "sms_templates",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/sms-templates"
      }
    },
    {
      "name": "tasks",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/tasks"
      }
    },
    {
      "name": "unsubscribed_emails",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/unsubscribed-emails"
      }
    },
    {
      "name": "users",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/users"
      }
    },
    {
      "name": "webhooks",
      "externalDocs": {
        "url": "https://developer.close.com/api/resources/webhooks"
      }
    }
  ],
  "paths": {
    "/activity/": {
      "get": {
        "operationId": "activities_list",
        "tags": [
          "activities"
        ],
        "summary": "List or filter all activity types",
        "description": "To list only a specific activity type (e.g., only `Call` or `LeadStatusChange`), use the other resources listed separately. When querying activities for a single lead (using the `lead_id` parameter), you can ask for multiple activity types using `_type__in`.\n\nWhen listing [Custom Activities](https://developer.close.com/api/resources/activities/custom-activities), `_type` and `_type__in` can include Custom Activity Type ids (e.g. `actitype_1h5m6uHM9BZOpwVhyRJb4Y`) to filter by a specific custom activity type or `Custom` to list custom activities of any type.\n\nThe following filtering parameters can only be used for listing activities on a single lead (using the `lead_id` parameter): `user_id`, `user_id__in`, `contact_id`, `contact_id__in`, `_type`, `_type__in`.\n\nAll activities have two sortable datetime fields: `date_created` and `activity_at`. `date_created` denotes when an activity was created or synced into Close and `activity_at` denotes when that activity actually occurred. For example, on outgoing Email activities, `date_created` is equal to when the email was first created in Close, and `activity_at` is equal to when the email was actually sent. For Meeting activities, `activity_at` is equal to the scheduled time of the meeting. On custom activities, users are able to update the `activity_at` field at any time.\n\nSorting by `-activity_at` can only be used when listing activities on a single lead using the `lead_id` parameter. In addition, you can only use the date-based filters of the field you're currently sorting on. This means that if you want to use `activity_at__lt` and `activity_at__gt` as filters, you need to include `_order_by=-activity_at` in your request.\n\n`thread_emails` parameter:\n\n - (Default) when this parameter is not present, `Email` objects will be returned for each email message.\n - A value of `true` will return `EmailThread` objects representing email conversations. Stripped-down version of `Email` objects will also be returned.\n - A value of `only` will return `EmailThread` objects representing email conversations. `Email` objects will not be returned.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SkipParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_IdInParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_LeadIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ContactIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_UserIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_OrganizationIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_TypeParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLtParam"
          },
          {
            "in": "query",
            "name": "lead_id__in",
            "required": false,
            "schema": {
              "title": "Lead ID (In)",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "user_id__in",
            "required": false,
            "schema": {
              "title": "User ID (In)",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "contact_id__in",
            "required": false,
            "schema": {
              "title": "Contact ID (In)",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "_type__in",
            "required": false,
            "schema": {
              "title": "Type (In)",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "in": "query",
            "name": "_order_by",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "_type": "Created",
                      "activity_at": "2013-02-20T05:44:35.636000+00:00",
                      "contact_id": null,
                      "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "created_by_name": "Bruce Wayne",
                      "date_created": "2013-02-20T05:44:35.636000+00:00",
                      "date_updated": "2013-02-20T05:44:35.667000+00:00",
                      "id": "acti_ICUkwteuKAaJvhNqF1QBoVOWKQuSbFuOYoZxGeWQAeg",
                      "lead_id": "lead_pqXrF8figcDHN7HvaXmb4wTjpxnxpmqheEyjTYPfdi5",
                      "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                      "source": "api",
                      "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "updated_by_name": "Bruce Wayne",
                      "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "user_name": "Bruce Wayne"
                    },
                    {
                      "_type": "Created",
                      "activity_at": "2013-02-20T05:44:31.940000+00:00",
                      "contact_id": null,
                      "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "created_by_name": "Bruce Wayne",
                      "date_created": "2013-02-20T05:44:31.940000+00:00",
                      "date_updated": "2013-02-20T05:44:31.955000+00:00",
                      "id": "acti_k8u1xLU5G9L0YLkxLqAHEZFB84oB7fN9vqjCgljfcFN",
                      "lead_id": "lead_6SY1tPBB1EnQneopPGSLsAmXVkTRf4P0r6Y6ntdPowL",
                      "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                      "source": "api",
                      "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "updated_by_name": "Bruce Wayne",
                      "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "user_name": "Bruce Wayne"
                    },
                    {
                      "_type": "Created",
                      "activity_at": "2013-02-20T05:30:24.854000+00:00",
                      "contact_id": null,
                      "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "created_by_name": "Bruce Wayne",
                      "date_created": "2013-02-20T05:30:24.854000+00:00",
                      "date_updated": "2013-02-20T05:30:24.870000+00:00",
                      "id": "acti_0wDacWkNoKKVn7I8wCuEc1XbQ7lGQxCgZ9WNQn71P8j",
                      "lead_id": "lead_70jZ5hiVt5X31MZ3vJ0R0GJMqJEihkoF7TtSVFbN2ty",
                      "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                      "source": "api",
                      "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "updated_by_name": "Bruce Wayne",
                      "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "user_name": "Bruce Wayne"
                    },
                    {
                      "_type": "Email",
                      "activity_at": "2013-02-08T05:03:15.000000+00:00",
                      "attachments": [],
                      "bcc": [],
                      "body_html": "Cool!<br>\n<br>\nThis is rad. &lt;3<br>\n<br><br>______________________________________________<br>Sent via <a href='http://close.com/?utm_source=signature&utm_medium=email&utm_campaign=signature'>Close</a> &ndash; sales communication made simple",
                      "body_text": "Cool!\n\nThis is rad. <3\n\n\n______________________________________________\nSent via http://close.com/ - sales communication made simple",
                      "body_text_quoted": [
                        {
                          "expand": true,
                          "text": "Cool!\n\nThis is rad. <3\n\n\n______________________________________________\nSent via http://close.com/ - sales communication made simple"
                        }
                      ],
                      "cc": [],
                      "contact_id": "cont_eXZwc2SVL4G3xSR85jnfPny2ykvoAQndSyi1Doa2YLO",
                      "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "created_by_name": "Bruce Wayne",
                      "date_created": "2013-02-08T05:02:42.050000+00:00",
                      "date_updated": "2013-02-08T05:03:16.281000+00:00",
                      "direction": "outgoing",
                      "envelope": {
                        "bcc": [],
                        "cc": [],
                        "date": "Fri, 08 Feb 2013 05:03:15 +0000",
                        "from": [
                          {
                            "email": "phil@close.com",
                            "name": "Phil Freo"
                          }
                        ],
                        "in_reply_to": null,
                        "message_id": "<20130208050314.11553.33819@ec2-54-245-86-79.us-west-2.compute.amazonaws.com>",
                        "reply_to": [],
                        "sender": [
                          {
                            "email": "phil@close.com",
                            "name": "Phil Freo"
                          }
                        ],
                        "subject": "Testing testing!!!!",
                        "to": [
                          {
                            "email": "phil@close.com",
                            "name": ""
                          }
                        ]
                      },
                      "id": "acti_C4DFcBED1FwLSDqn853hjc979h7DIuH2vwABzGWhRAO",
                      "lead_id": "lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h",
                      "opens": [],
                      "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                      "send_attempts": [],
                      "sender": "phil@close.com",
                      "status": "sent",
                      "subject": "Testing testing!!!!",
                      "template_id": null,
                      "to": [
                        "phil@close.com"
                      ],
                      "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "updated_by_name": "Bruce Wayne",
                      "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "user_name": "Bruce Wayne"
                    },
                    {
                      "_type": "Note",
                      "activity_at": "2013-02-01T01:05:04.070000+00:00",
                      "contact_id": null,
                      "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "created_by_name": "Bruce Wayne",
                      "date_created": "2013-02-01T01:05:04.070000+00:00",
                      "date_updated": "2013-02-01T01:06:35.668000+00:00",
                      "id": "acti_XOyG7jURMfsLgKuYGqbQ4Qp7L5a16pQOcDfTgotqDak",
                      "lead_id": "lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h",
                      "note": "Welcome to Close! Get started by:\n\n1. Import your leads! Use our \"Bulk CSV Upload\" tool by clicking your name in the top right. Add leads manually by clicking \"New Lead\" in the lower left.\n\n2. Invite your co-workers!\n\n3. Setup two-way syncing of your emails by going to Settings -> Email Settings.",
                      "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                      "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "updated_by_name": "Bruce Wayne",
                      "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "user_name": "Bruce Wayne"
                    },
                    {
                      "_type": "Email",
                      "activity_at": "2013-02-01T00:54:51.000000+00:00",
                      "attachments": [],
                      "bcc": [],
                      "body_html": "Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!",
                      "body_text": "Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!",
                      "body_text_quoted": [
                        {
                          "expand": true,
                          "text": "Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!"
                        }
                      ],
                      "cc": [],
                      "contact_id": "cont_8NNOJnVwmHQEYuVOgJ4B4zU7g9RUxYH4JnPjza5Vr6t",
                      "created_by": null,
                      "date_created": "2013-02-01T00:54:51.274000+00:00",
                      "date_updated": "2013-02-01T00:56:04.184000+00:00",
                      "direction": "incoming",
                      "envelope": {
                        "bcc": [],
                        "cc": [],
                        "date": "Fri, 01 Feb 2013 00:54:51 +0000",
                        "from": [
                          {
                            "email": "karan@close.com",
                            "name": ""
                          }
                        ],
                        "in_reply_to": null,
                        "message_id": "<20130201005451.14369.20369@ec2-54-245-86-79.us-west-2.compute.amazonaws.com>",
                        "reply_to": [],
                        "sender": [
                          {
                            "email": "karan@close.com",
                            "name": ""
                          }
                        ],
                        "subject": "Welcome to Close!",
                        "to": [
                          {
                            "email": "phil+sample@close.com",
                            "name": ""
                          }
                        ]
                      },
                      "id": "acti_WuIVvTT9b3zLmOOWalxK0OrqtdkxEEdu4mNr1TPGb2o",
                      "lead_id": "lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h",
                      "opens": [],
                      "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                      "send_attempts": [],
                      "sender": "karan@close.com",
                      "status": "inbox",
                      "subject": "Welcome to Close!",
                      "template_id": null,
                      "to": [
                        "phil+sample@close.com"
                      ],
                      "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "updated_by_name": "Bruce Wayne",
                      "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "user_name": "Bruce Wayne"
                    }
                  ],
                  "has_more": false
                }
              }
            },
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/activity/call/": {
      "get": {
        "operationId": "activities.calls_list",
        "tags": [
          "activities.calls"
        ],
        "summary": "List or filter all Call activities",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SkipParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_IdInParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_LeadIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ContactIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_UserIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_OrganizationIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_TypeParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLtParam"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "_type": "Call",
                      "activity_at": "2013-02-01T00:51:33+00:00",
                      "call_method": "regular",
                      "contact_id": "cont_q4xYmlGhA3060dEl0NDJuHRxPMuVjqLn30AFSzh1fRk",
                      "cost": "2",
                      "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "date_created": "2013-02-20T06:34:33.637000+00:00",
                      "date_updated": "2013-02-20T06:34:35.656000+00:00",
                      "dialer_id": null,
                      "dialer_saved_search_id": null,
                      "direction": "outbound",
                      "disposition": "answered",
                      "duration": 10,
                      "id": "acti_Ay0QqN91HKAHVQUesISYV8QlhDobGfWb1Ui3TE75pJR",
                      "lead_id": "lead_s6vHFTK1TSRoH6otXOexWDO9jM4xyb1kELHDoU7Fdsp",
                      "local_country_iso": "US",
                      "local_phone": "+16505556666",
                      "local_phone_formatted": "+1 650-555-6666",
                      "note": "",
                      "note_html": "<body><p></p></body>",
                      "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                      "outcome_id": "outcome_031uY9IKV1JxfNKM9n2qCw",
                      "phone": "+16503334444",
                      "recording_url": null,
                      "remote_country_iso": "US",
                      "remote_phone": "+16503334444",
                      "remote_phone_formatted": "+1 650-333-4444",
                      "source": "Close.io",
                      "status": "completed",
                      "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "users": [],
                      "voicemail_duration": null,
                      "voicemail_url": null
                    }
                  ],
                  "has_more": false
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/components/schemas/CallActivity"
                      },
                      "type": "array"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "data",
                    "has_more"
                  ]
                }
              }
            },
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "operationId": "activities.calls_create",
        "tags": [
          "activities.calls"
        ],
        "summary": "Log an external Call activity",
        "description": "Use this endpoint to log calls made outside of the Close built-in VoIP system.\n\n*status*: defaults to `completed`\n\n*direction* (optional): `outbound` or `inbound`\n\n*recording_url*: you can post a URL pointing to the MP3 recording of your call. For security reasons, we require the URL to be secure (i.e. starting with https://)",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "contact_id": "cont_bulY73zoaAwTCLdjHrKzGkzZ942OwtEelJR7kNku9RK",
                "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                "direction": "outbound",
                "duration": 153,
                "lead_id": "lead_fioU1Nk5LC0H0iei9XBGHW2CFZU0yeP2zZCJQP9pC4m",
                "note_html": "<body><p>call notes go here</p></body>",
                "phone": "+16505551234",
                "status": "completed",
                "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA"
              },
              "schema": {
                "$ref": "#/components/schemas/CreateCallActivity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "_type": "Call",
                  "activity_at": "2013-02-01T00:51:33+00:00",
                  "call_method": "external",
                  "contact_id": "cont_bulY73zoaAwTCLdjHrKzGkzZ942OwtEelJR7kNku9RK",
                  "cost": "0",
                  "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "created_by_name": "Stefan W\u00f3jcik",
                  "date_created": "2014-05-22T17:39:04.509000+00:00",
                  "date_updated": "2014-05-22T17:39:04.509000+00:00",
                  "dialer_id": null,
                  "dialer_saved_search_id": null,
                  "direction": "outbound",
                  "disposition": "answered",
                  "duration": 153,
                  "id": "acti_wJGiBIXXBCpBAQacZ7axeOhgTS7TWxyU7ml4WqAswOb",
                  "lead_id": "lead_fioU1Nk5LC0H0iei9XBGHW2CFZU0yeP2zZCJQP9pC4m",
                  "local_country_iso": "US",
                  "note": "call notes go here",
                  "note_html": "<body><p>call notes go here</p></body>",
                  "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                  "outcome_id": null,
                  "phone": "+16505551234",
                  "recording_url": null,
                  "remote_country_iso": "US",
                  "remote_phone": "+16505551234",
                  "remote_phone_formatted": "+1 650-555-1234",
                  "source": "External",
                  "status": "completed",
                  "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "updated_by_name": "Phil Freo",
                  "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "user_name": "Stefan W\u00f3jcik",
                  "users": [],
                  "voicemail_url": null
                },
                "schema": {
                  "$ref": "#/components/schemas/CallActivity"
                }
              }
            },
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/activity/call/{id}/": {
      "get": {
        "operationId": "activities.calls_get",
        "tags": [
          "activities.calls"
        ],
        "summary": "Get a single Call activity",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "_type": "Call",
                  "activity_at": "2013-02-01T00:51:33+00:00",
                  "call_method": "regular",
                  "contact_id": "cont_q4xYmlGhA3060dEl0NDJuHRxPMuVjqLn30AFSzh1fRk",
                  "cost": "2",
                  "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "date_created": "2013-02-20T06:34:33.637000+00:00",
                  "date_updated": "2013-02-20T06:34:35.656000+00:00",
                  "dialer_id": null,
                  "dialer_saved_search_id": null,
                  "direction": "outbound",
                  "disposition": "answered",
                  "duration": 10,
                  "id": "acti_Ay0QqN91HKAHVQUesISYV8QlhDobGfWb1Ui3TE75pJR",
                  "lead_id": "lead_s6vHFTK1TSRoH6otXOexWDO9jM4xyb1kELHDoU7Fdsp",
                  "local_country_iso": "US",
                  "local_phone": "+16505556666",
                  "local_phone_formatted": "+1 650-555-6666",
                  "note": "",
                  "note_html": "<body><p></p></body>",
                  "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                  "outcome_id": "outcome_031uY9IKV1JxfNKM9n2qCw",
                  "phone": "+16503334444",
                  "recording_url": null,
                  "remote_country_iso": "US",
                  "remote_phone": "+16503334444",
                  "remote_phone_formatted": "+1 650-333-4444",
                  "source": "Close.io",
                  "status": "completed",
                  "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "users": [],
                  "voicemail_duration": null,
                  "voicemail_url": null
                },
                "schema": {
                  "$ref": "#/components/schemas/CallActivity"
                }
              }
            },
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "operationId": "activities.calls_update",
        "tags": [
          "activities.calls"
        ],
        "summary": "Update a Call activity",
        "description": "Most commonly used to update `note_html` or `outcome_id`. Some fields (`status`, `duration`, `direction`) cannot be updated for internal calls made through Close's VoIP system.\n\n**`note_html` and `note`**: setting one overwrites the other. If both are provided, `note_html` takes precedence. `note_html` supports rich-text HTML; `note` is plaintext only.\n\n**Deleting recordings**: for internal calls, changing or clearing `recording_url` or `voicemail_url`, or setting `recording_transcript` to `null`, permanently deletes the corresponding recording, voicemail, or transcript. This requires the `delete_own_activities` permission for your own calls, or `manage_others_activities` for other users' calls and calls not assigned to a user. Without the required permission the request fails with a `400` error.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "note_html": "<body><p>This is some new call note.</p></body>",
                "outcome_id": "outcome_031uY9IKV1JxfNKM9n2qCw"
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateCallActivity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "_type": "Call",
                  "activity_at": "2013-02-01T00:51:33+00:00",
                  "call_method": "regular",
                  "contact_id": "cont_q4xYmlGhA3060dEl0NDJuHRxPMuVjqLn30AFSzh1fRk",
                  "cost": "2",
                  "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "date_created": "2013-02-20T06:34:33.637000+00:00",
                  "date_updated": "2013-02-20T06:34:35.656000+00:00",
                  "dialer_id": null,
                  "dialer_saved_search_id": null,
                  "direction": "outbound",
                  "disposition": "answered",
                  "duration": 10,
                  "id": "acti_Ay0QqN91HKAHVQUesISYV8QlhDobGfWb1Ui3TE75pJR",
                  "lead_id": "lead_s6vHFTK1TSRoH6otXOexWDO9jM4xyb1kELHDoU7Fdsp",
                  "local_country_iso": "US",
                  "local_phone": "+16505556666",
                  "local_phone_formatted": "+1 650-555-6666",
                  "note": "This is some new call note.",
                  "note_html": "<body><p>This is some new call note.</p></body>",
                  "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                  "outcome_id": "outcome_031uY9IKV1JxfNKM9n2qCw",
                  "phone": "+16503334444",
                  "recording_url": null,
                  "remote_country_iso": "US",
                  "remote_phone": "+16503334444",
                  "remote_phone_formatted": "+1 650-333-4444",
                  "source": "Close.io",
                  "status": "completed",
                  "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "users": [],
                  "voicemail_duration": null,
                  "voicemail_url": null
                },
                "schema": {
                  "$ref": "#/components/schemas/CallActivity"
                }
              }
            },
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "operationId": "activities.calls_delete",
        "tags": [
          "activities.calls"
        ],
        "summary": "Delete a Call activity",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/activity/created/": {
      "get": {
        "operationId": "activities.creations_list",
        "tags": [
          "activities.creations"
        ],
        "summary": "List or filter all Created activities",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SkipParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_IdInParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_LeadIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ContactIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_UserIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_OrganizationIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_TypeParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLtParam"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "_type": "Created",
                      "contact_id": null,
                      "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "created_by_name": "Bruce Wayne",
                      "date_created": "2015-10-27T03:55:41.251000+00:00",
                      "date_updated": "2015-10-27T03:55:41.252000+00:00",
                      "id": "acti_Lx3fnL9Mq77beBRaMEQmk6rZqxUTVIIQ4MjFFGQ772y",
                      "import_id": null,
                      "lead_id": "lead_1aW9yllGxSZwPa3E8lf3IkBJpVHTjJUrsM2rX9n9nSX",
                      "organization_id": "orga_Bkhj8tDhPUehdIKungGNdFKJL9e8qkj8kn00oMfxq8l",
                      "source": "ui",
                      "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "updated_by_name": "Bruce Wayne",
                      "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "user_name": "Bruce Wayne",
                      "users": []
                    }
                  ],
                  "has_more": false
                }
              }
            },
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/activity/created/{id}/": {
      "get": {
        "operationId": "activities.creations_get",
        "tags": [
          "activities.creations"
        ],
        "summary": "Get a single Created activity",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "_type": "Created",
                  "contact_id": null,
                  "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "created_by_name": "Bruce Wayne",
                  "date_created": "2015-10-27T03:55:41.251000+00:00",
                  "date_updated": "2015-10-27T03:55:41.252000+00:00",
                  "id": "acti_Lx3fnL9Mq77beBRaMEQmk6rZqxUTVIIQ4MjFFGQ772y",
                  "import_id": null,
                  "lead_id": "lead_1aW9yllGxSZwPa3E8lf3IkBJpVHTjJUrsM2rX9n9nSX",
                  "organization_id": "orga_Bkhj8tDhPUehdIKungGNdFKJL9e8qkj8kn00oMfxq8l",
                  "source": "ui",
                  "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "updated_by_name": "Bruce Wayne",
                  "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "user_name": "Bruce Wayne",
                  "users": []
                }
              }
            },
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/activity/custom/": {
      "get": {
        "operationId": "activities.custom_activities_list",
        "tags": [
          "activities.custom_activities"
        ],
        "summary": "List or filter all Custom Activity instances",
        "description": "Custom Fields appear in the format: `custom.{custom_field_id}`. See [Custom Fields](https://developer.close.com/api/resources/custom-fields/custom-fields-activity).\n\nIf you're filtering by `custom_activity_type_id` or `custom_activity_type_id__in` parameter, the `lead_id` parameter will be required as well. If you want to retrieve all Custom Activity instances of a specific type regardless of the lead, you will need to get leads that contain such an activity type using [Advanced Filtering](https://developer.close.com/api/resources/advanced-filtering) and provide those Lead IDs one at a time to this endpoint.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SkipParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_IdInParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_LeadIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ContactIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_UserIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_OrganizationIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_TypeParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLtParam"
          },
          {
            "in": "query",
            "name": "custom_activity_type_id",
            "required": false,
            "schema": {
              "title": "Custom Activity Type ID",
              "default": null,
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "custom_activity_type_id__in",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "_type": "CustomActivity",
                      "contact_id": null,
                      "created_by": "user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk",
                      "created_by_name": "Bruce Wayne",
                      "custom.cf_cSh3fWT3rEJ1BFSezme2YAG6bPrZV5wUWKKrW4iN19g": "Yes",
                      "custom_activity_type_id": "actitype_1h5m6uHM9BZOpwVhyRJb4Y",
                      "date_created": "2020-08-04T16:45:35.367000+00:00",
                      "date_updated": "2020-08-04T17:37:56.439000+00:00",
                      "id": "acti_5J7mimiIKB1tQ3gVduP0c4UhXbNj5ptMLteAWRJu7Sf",
                      "lead_id": "lead_hwnL36A2iEMSLIlmGhsdrcmOJzTUzqEHwr66wrA1K2T",
                      "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                      "pinned": false,
                      "pinned_at": null,
                      "status": "draft",
                      "updated_by": "user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk",
                      "updated_by_name": "Bruce Wayne",
                      "user_id": "user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk",
                      "user_name": "Bruce Wayne",
                      "users": []
                    },
                    {
                      "_type": "CustomActivity",
                      "contact_id": null,
                      "created_by": "user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk",
                      "created_by_name": "Bruce Wayne",
                      "custom_activity_type_id": "actitype_33dpZWDiI0KoJsmQFCKbgi",
                      "date_created": "2020-08-04T16:45:29.612000+00:00",
                      "date_updated": "2020-08-04T16:46:02.705000+00:00",
                      "id": "acti_v0VS1AZAg8LjnpBm1hZz83UZ3yWK0n9SdVV5i8yC6he",
                      "lead_id": "lead_hwnL36A2iEMSLIlmGhsdrcmOJzTUzqEHwr66wrA1K2T",
                      "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                      "pinned": false,
                      "pinned_at": null,
                      "status": "published",
                      "updated_by": "user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk",
                      "updated_by_name": "Bruce Wayne",
                      "user_id": "user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk",
                      "user_name": "Bruce Wayne",
                      "users": []
                    }
                  ],
                  "has_more": false
                }
              }
            },
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "operationId": "activities.custom_activities_create",
        "tags": [
          "activities.custom_activities"
        ],
        "summary": "Create a new Custom Activity instance",
        "description": "Custom Activity instances will be created by default with the 'published' status. All required fields will be validated in this status. To create an activity without setting all required fields, you can use the \"draft\" status.\n\nA Custom Activity can be pinned or unpinned by setting the `pinned` field to `true` or `false` when creating or updating a Custom Activity.",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "custom.cf_UpyNBvr6Rw8UBHh7zRboL3PYhbOVJl3XvwgPm3jg64S": "thedarknight@close.com",
                "custom.cf_cSh3fWT3rEJ1BFSezme2YAG6bPrZV5wUWKKrW4iN19g": "Yes",
                "custom_activity_type_id": "actitype_1h5m6uHM9BZOpwVhyRJb4Y",
                "lead_id": "lead_p9bdo1sTVDvc81drMF1IxJBSHiLFZqaABYRu7ZHuxhP",
                "pinned": true
              },
              "schema": {
                "$ref": "#/components/schemas/CreateCustomActivity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "_type": "CustomActivity",
                  "contact_id": null,
                  "created_by": "user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk",
                  "created_by_name": "Bruce Wayne",
                  "custom.cf_UpyNBvr6Rw8UBHh7zRboL3PYhbOVJl3XvwgPm3jg64S": "thedarknight@close.com",
                  "custom.cf_cSh3fWT3rEJ1BFSezme2YAG6bPrZV5wUWKKrW4iN19g": "Yes",
                  "custom_activity_type_id": "actitype_1h5m6uHM9BZOpwVhyRJb4Y",
                  "date_created": "2020-08-04T16:45:35.367000+00:00",
                  "date_updated": "2020-08-04T17:37:56.439000+00:00",
                  "id": "acti_5J7mimiIKB1tQ3gVduP0c4UhXbNj5ptMLteAWRJu7Sf",
                  "lead_id": "lead_hwnL36A2iEMSLIlmGhsdrcmOJzTUzqEHwr66wrA1K2T",
                  "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                  "pinned": true,
                  "pinned_at": "2020-08-04T17:37:56.439000+00:00",
                  "status": "published",
                  "updated_by": "user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk",
                  "updated_by_name": "Bruce Wayne",
                  "user_id": "user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk",
                  "user_name": "Bruce Wayne",
                  "users": []
                }
              }
            },
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/activity/custom/{id}/": {
      "get": {
        "operationId": "activities.custom_activities_get",
        "tags": [
          "activities.custom_activities"
        ],
        "summary": "Get a single Custom Activity instance",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "_type": "CustomActivity",
                  "contact_id": null,
                  "created_by": "user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk",
                  "created_by_name": "Bruce Wayne",
                  "custom.cf_cSh3fWT3rEJ1BFSezme2YAG6bPrZV5wUWKKrW4iN19g": "Yes",
                  "custom_activity_type_id": "actitype_1h5m6uHM9BZOpwVhyRJb4Y",
                  "date_created": "2020-08-04T16:45:35.367000+00:00",
                  "date_updated": "2020-08-04T17:37:56.439000+00:00",
                  "id": "acti_5J7mimiIKB1tQ3gVduP0c4UhXbNj5ptMLteAWRJu7Sf",
                  "lead_id": "lead_hwnL36A2iEMSLIlmGhsdrcmOJzTUzqEHwr66wrA1K2T",
                  "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                  "pinned": false,
                  "pinned_at": null,
                  "status": "draft",
                  "updated_by": "user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk",
                  "updated_by_name": "Bruce Wayne",
                  "user_id": "user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk",
                  "user_name": "Bruce Wayne",
                  "users": []
                }
              }
            },
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "operationId": "activities.custom_activities_update",
        "tags": [
          "activities.custom_activities"
        ],
        "summary": "Updating a Custom Activity instance",
        "description": "A Custom Activity can be updated to add, change or remove any Custom Fields and to change the status between \"draft\" and \"published\".\n\nA Custom Activity can be pinned or unpinned by setting the `pinned` field to `true` or `false` when creating or updating a Custom Activity.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "custom.cf_UpyNBvr6Rw8UBHh7zRboL3PYhbOVJl3XvwgPm3jg64S": "thedarknight@close.com",
                "custom.cf_cSh3fWT3rEJ1BFSezme2YAG6bPrZV5wUWKKrW4iN19g": null,
                "pinned": true,
                "status": "published"
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomActivity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "_type": "CustomActivity",
                  "contact_id": null,
                  "created_by": "user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk",
                  "created_by_name": "Bruce Wayne",
                  "custom.cf_UpyNBvr6Rw8UBHh7zRboL3PYhbOVJl3XvwgPm3jg64S": "thedarknight@close.com",
                  "custom_activity_type_id": "actitype_1h5m6uHM9BZOpwVhyRJb4Y",
                  "date_created": "2020-08-04T16:45:35.367000+00:00",
                  "date_updated": "2020-08-04T17:37:56.439000+00:00",
                  "id": "acti_5J7mimiIKB1tQ3gVduP0c4UhXbNj5ptMLteAWRJu7Sf",
                  "lead_id": "lead_hwnL36A2iEMSLIlmGhsdrcmOJzTUzqEHwr66wrA1K2T",
                  "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                  "pinned": true,
                  "pinned_at": "2020-08-04T17:37:56.439000+00:00",
                  "status": "published",
                  "updated_by": "user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk",
                  "updated_by_name": "Bruce Wayne",
                  "user_id": "user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk",
                  "user_name": "Bruce Wayne",
                  "users": []
                }
              }
            },
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "operationId": "activities.custom_activities_delete",
        "tags": [
          "activities.custom_activities"
        ],
        "summary": "Delete a Custom Activity instance",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/activity/email/": {
      "get": {
        "operationId": "activities.emails_list",
        "tags": [
          "activities.emails"
        ],
        "summary": "List or filter all Email activities",
        "description": "You'll get one object per email message.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SkipParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_IdInParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_LeadIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ContactIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_UserIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_OrganizationIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_TypeParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLtParam"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "_type": "Email",
                      "activity_at": "2013-02-08T05:02:42.050000+00:00",
                      "attachments": [
                        {
                          "content_type": "image/png",
                          "filename": "screenshot.png",
                          "size": 1108447,
                          "url": "https://app.close.com/go/file/persisted/orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH/activity.email/acti_C4DFcBED1FwLSDqn853hjc979h7DIuH2vwABzGWhRAO/3iPCenL9lciJrKnjFucsJ8/screenshot.png"
                        }
                      ],
                      "bcc": [],
                      "body_html": "Cool!<br>\n<br>\nThis is rad. &lt;3<br>\n<br><br>______________________________________________<br>Sent via <a href='http://close.com/?utm_source=signature&utm_medium=email&utm_campaign=signature'>Close</a> &ndash; sales communication made simple",
                      "body_text": "Cool!\n\nThis is rad. <3\n\n\n______________________________________________\nSent via http://close.com/ - sales communication made simple",
                      "body_text_quoted": [
                        {
                          "expand": true,
                          "text": "Cool!\n\nThis is rad. <3\n\n\n______________________________________________\nSent via http://close.com/ - sales communication made simple"
                        }
                      ],
                      "bulk_email_action_id": null,
                      "cc": [],
                      "contact_id": "cont_eXZwc2SVL4G3xSR85jnfPny2ykvoAQndSyi1Doa2YLO",
                      "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "created_by_name": "Bruce Wayne",
                      "date_created": "2013-02-08T05:02:42.050000+00:00",
                      "date_scheduled": null,
                      "date_sent": "2013-02-08T05:02:42.050000+00:00",
                      "date_updated": "2013-02-08T05:03:16.281000+00:00",
                      "direction": "outgoing",
                      "envelope": {
                        "bcc": [],
                        "cc": [],
                        "date": "Fri, 08 Feb 2013 05:03:15 +0000",
                        "from": [
                          {
                            "email": "phil@close.com",
                            "name": "Phil Freo"
                          }
                        ],
                        "in_reply_to": null,
                        "message_id": "<20130208050314.11553.33819@ec2-54-245-86-79.us-west-2.compute.amazonaws.com>",
                        "reply_to": [],
                        "sender": [
                          {
                            "email": "phil@close.com",
                            "name": "Phil Freo"
                          }
                        ],
                        "subject": "Testing testing!!!!",
                        "to": [
                          {
                            "email": "phil@close.com",
                            "name": ""
                          }
                        ]
                      },
                      "followup_sequence_add_cc_bcc": false,
                      "followup_sequence_delay": null,
                      "has_reply": false,
                      "id": "acti_C4DFcBED1FwLSDqn853hjc979h7DIuH2vwABzGWhRAO",
                      "in_reply_to_id": null,
                      "lead_id": "lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h",
                      "message_ids": [
                        "<20130208050314.11553.33819@ec2-54-245-86-79.us-west-2.compute.amazonaws.com>"
                      ],
                      "need_smtp_credentials": false,
                      "opens": [],
                      "opens_summary": null,
                      "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                      "references": [],
                      "send_as_id": null,
                      "send_attempts": [],
                      "sender": "phil@close.com",
                      "sequence_id": "seq_1BTljGuCooX0nbFoPihl07",
                      "sequence_name": "My Sequence",
                      "sequence_subscription_id": "sub_wRlAku35U53xEV7PcNY3Qo",
                      "status": "sent",
                      "subject": "Testing testing!!!!",
                      "template_id": null,
                      "thread_id": "acti_C4DFcBED1FwLSDqn853hjc979h7DIuH2vwABzGWhRAO",
                      "to": [
                        "phil@close.com"
                      ],
                      "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "updated_by_name": "Bruce Wayne",
                      "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "user_name": "John Wayne",
                      "users": []
                    },
                    {
                      "_type": "Email",
                      "activity_at": "2013-02-01T00:54:51.274000+00:00",
                      "attachments": [],
                      "bcc": [],
                      "body_html": "Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!",
                      "body_text": "Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!",
                      "body_text_quoted": [
                        {
                          "expand": true,
                          "text": "Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!"
                        }
                      ],
                      "bulk_email_action_id": null,
                      "cc": [],
                      "contact_id": "cont_8NNOJnVwmHQEYuVOgJ4B4zU7g9RUxYH4JnPjza5Vr6t",
                      "created_by": null,
                      "date_created": "2013-02-01T00:54:51.274000+00:00",
                      "date_scheduled": null,
                      "date_sent": "2013-02-01T00:54:51.274000+00:00",
                      "date_updated": "2013-02-01T00:56:04.184000+00:00",
                      "direction": "incoming",
                      "envelope": {
                        "bcc": [],
                        "cc": [],
                        "date": "Fri, 01 Feb 2013 00:54:51 +0000",
                        "from": [
                          {
                            "email": "karan@close.com",
                            "name": ""
                          }
                        ],
                        "in_reply_to": null,
                        "message_id": "<20130201005451.14369.20369@ec2-54-245-86-79.us-west-2.compute.amazonaws.com>",
                        "reply_to": [],
                        "sender": [
                          {
                            "email": "karan@close.com",
                            "name": ""
                          }
                        ],
                        "subject": "Welcome to Close!",
                        "to": [
                          {
                            "email": "phil+sample@close.com",
                            "name": ""
                          }
                        ]
                      },
                      "followup_sequence_add_cc_bcc": false,
                      "followup_sequence_delay": null,
                      "has_reply": false,
                      "id": "acti_WuIVvTT9b3zLmOOWalxK0OrqtdkxEEdu4mNr1TPGb2o",
                      "in_reply_to_id": null,
                      "lead_id": "lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h",
                      "message_ids": [
                        "<20130201005451.14369.20369@ec2-54-245-86-79.us-west-2.compute.amazonaws.com>"
                      ],
                      "need_smtp_credentials": false,
                      "opens": [],
                      "opens_summary": null,
                      "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                      "references": [],
                      "send_as_id": null,
                      "send_attempts": [],
                      "sender": "karan@close.com",
                      "status": "inbox",
                      "subject": "Welcome to Close!",
                      "template_id": null,
                      "thread_id": "acti_WuIVvTT9b3zLmOOWalxK0OrqtdkxEEdu4mNr1TPGb2o",
                      "to": [
                        "phil+sample@close.com"
                      ],
                      "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "updated_by_name": "Bruce Wayne",
                      "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                      "users": []
                    }
                  ],
                  "has_more": false
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/components/schemas/EmailActivity"
                      },
                      "type": "array"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "data",
                    "has_more"
                  ]
                }
              }
            },
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "operationId": "activities.emails_create",
        "tags": [
          "activities.emails"
        ],
        "summary": "Create an Email activity",
        "description": "*status* must be one of the following:\n\n - `inbox` to log an already received email.\n - `draft` to create a draft email.\n - `scheduled` to send an email at a scheduled date and time, which must be specified in the `date_scheduled` field.\n - `outbox` to actually **send** an email. To delay email sending by a few seconds (to allow undo), specify `send_in` in seconds (must be less than 60).\n - `sent` to log an already sent email.\n\nOnly drafts can be modified, and their status can be changed to `scheduled` (to send later) or `outbox` (to send immediately). Scheduled emails, or emails in outbox that weren't sent yet can be canceled by setting the status back to `draft`.\n\nFor scheduled, outbox, or sent emails, a `followup_date` may be posted, which will have Close create an email followup task if no response was received.\n\nWe'll render an Email Template server-side if you include a `template_id` _without_ including `body_text` or `body_html` in your POST.\n\nTo specify both a sender name and a sender email address when posting an email, you can use the `sender` field with the format `\"sender\": \"\"John Smith\" <emailaddress@example.com>\"`\n\nThe `sender` field is **required** for emails with status `inbox`, `scheduled`, `outbox`, or `error`. It may be omitted for `draft` (since the sender can be specified later before sending) and `sent` (where it defaults to the email address of the `user` associated with the email or the owner of the API key).\n\nTo include an attachment, you must first upload the file to Close using the [Files API](https://developer.close.com/api/resources/files). Then, add an object to the `attachments` array with the following fields: `url`, `filename`, `content_type`, and `size`. The `url` should be the URL provided in the `download.url` field of the response from the [Files API](https://developer.close.com/api/resources/files). It must begin `https://app.close.com/go/file/`.",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "attachments": [
                  {
                    "content_type": "image/jpeg",
                    "filename": "image.jpg",
                    "size": 1108447,
                    "url": "https://app.close.com/go/file/temporary/user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk/1Zx0AlY1DwBXzKKrVwpAoj/image.jpg/"
                  }
                ],
                "bcc": [],
                "body_html": "Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!",
                "body_text": "Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!",
                "cc": [],
                "contact_id": "cont_8NNOJnVwmHQEYuVOgJ4B4zU7g9RUxYH4JnPjza5Vr6t",
                "created_by": null,
                "date_created": "2013-02-01T00:54:51.274000+00:00",
                "email_account_id": "emailacct_nuALjWGi09rlr36zXp0ygjja9De0mzPqyqPPVsriTzt",
                "lead_id": "lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h",
                "sender": "karan@close.com",
                "status": "draft",
                "subject": "Welcome to Close!",
                "template_id": null,
                "to": [
                  "phil+sample@close.com"
                ],
                "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA"
              },
              "schema": {
                "$ref": "#/components/schemas/CreateEmailActivity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "_type": "Email",
                  "activity_at": "2015-06-26T02:01:43.059265",
                  "attachments": [
                    {
                      "content_id": null,
                      "content_type": "image/jpeg",
                      "filename": "image.jpg",
                      "inline_only": false,
                      "size": 1108447,
                      "url": "https://app.close.com/go/file/persisted/orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH/activity.email/acti_EdpqkmtlQHIDWE2CixJo606BapX34SpYV3fzHryGPc3/1Zx0AlY1DwBXzKKrVwpAoj/image.jpg/"
                    }
                  ],
                  "bcc": [],
                  "body_html": "Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!",
                  "body_html_quoted": {
                    "expand": true,
                    "html": "Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!"
                  },
                  "body_preview": "Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any ",
                  "body_text": "Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!",
                  "body_text_quoted": null,
                  "bulk_email_action_id": null,
                  "cc": [],
                  "contact_id": "cont_8NNOJnVwmHQEYuVOgJ4B4zU7g9RUxYH4JnPjza5Vr6t",
                  "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "created_by_name": "Steve Wiseman",
                  "date_created": "2015-06-26T02:01:43.059265",
                  "date_scheduled": null,
                  "date_sent": null,
                  "date_updated": "2015-06-26T02:01:43.101910",
                  "direction": "outgoing",
                  "email_account_id": "emailacct_nuALjWGi09rlr36zXp0ygjja9De0mzPqyqPPVsriTzt",
                  "envelope": null,
                  "followup_sequence_add_cc_bcc": false,
                  "followup_sequence_delay": null,
                  "has_reply": false,
                  "id": "acti_EdpqkmtlQHIDWE2CixJo606BapX34SpYV3fzHryGPc3",
                  "in_reply_to_id": null,
                  "lead_id": "lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h",
                  "message_ids": [],
                  "need_smtp_credentials": false,
                  "opens": [],
                  "opens_summary": null,
                  "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                  "references": [],
                  "send_as_id": null,
                  "send_attempts": [],
                  "sender": "karan@close.com",
                  "sequence_id": null,
                  "sequence_name": null,
                  "sequence_subscription_id": null,
                  "status": "draft",
                  "subject": "Welcome to Close!",
                  "template_id": null,
                  "template_name": null,
                  "thread_id": "acti_3VFfJMUKvwvQPXAbXAbs9b01usbFC5acL8MrmFcsmK5",
                  "to": [
                    "phil+sample@gclose.com"
                  ],
                  "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "updated_by_name": "Steve Wiseman",
                  "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "user_name": "Steve Wiseman",
                  "users": []
                },
                "schema": {
                  "$ref": "#/components/schemas/EmailActivity"
                }
              }
            },
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/activity/email/{id}/": {
      "get": {
        "operationId": "activities.emails_get",
        "tags": [
          "activities.emails"
        ],
        "summary": "Get a single Email activity",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "_type": "Email",
                  "activity_at": "2013-02-01T00:54:51.274000+00:00",
                  "attachments": [],
                  "bcc": [],
                  "body_html": "Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!",
                  "body_text": "Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!",
                  "body_text_quoted": [
                    {
                      "expand": true,
                      "text": "Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!"
                    }
                  ],
                  "bulk_email_action_id": null,
                  "cc": [],
                  "contact_id": "cont_8NNOJnVwmHQEYuVOgJ4B4zU7g9RUxYH4JnPjza5Vr6t",
                  "created_by": null,
                  "date_created": "2013-02-01T00:54:51.274000+00:00",
                  "date_scheduled": null,
                  "date_sent": "2013-02-01T00:54:51.274000+00:00",
                  "date_updated": "2013-02-01T00:56:04.184000+00:00",
                  "direction": "incoming",
                  "envelope": {
                    "bcc": [],
                    "cc": [],
                    "date": "Fri, 01 Feb 2013 00:54:51 +0000",
                    "from": [
                      {
                        "email": "karan@close.com",
                        "name": ""
                      }
                    ],
                    "in_reply_to": null,
                    "message_id": "<20130201005451.14369.20369@ec2-54-245-86-79.us-west-2.compute.amazonaws.com>",
                    "reply_to": [],
                    "sender": [
                      {
                        "email": "karan@close.com",
                        "name": ""
                      }
                    ],
                    "subject": "Welcome to Close!",
                    "to": [
                      {
                        "email": "phil+sample@close.com",
                        "name": ""
                      }
                    ]
                  },
                  "followup_sequence_add_cc_bcc": false,
                  "followup_sequence_delay": null,
                  "has_reply": false,
                  "id": "acti_WuIVvTT9b3zLmOOWalxK0OrqtdkxEEdu4mNr1TPGb2o",
                  "in_reply_to_id": null,
                  "lead_id": "lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h",
                  "message_ids": [],
                  "need_smtp_credentials": false,
                  "opens": [],
                  "opens_summary": null,
                  "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                  "references": [],
                  "send_as_id": null,
                  "send_attempts": [],
                  "sender": "karan@close.com",
                  "sequence_id": "seq_1BTljGuCooX0nbFoPihl07",
                  "sequence_name": "My Sequence",
                  "sequence_subscription_id": "sub_wRlAku35U53xEV7PcNY3Qo",
                  "status": "inbox",
                  "subject": "Welcome to Close!",
                  "template_id": null,
                  "thread_id": "acti_WuIVvTT9b3zLmOOWalxK0OrqtdkxEEdu4mNr1TPGb2o",
                  "to": [
                    "phil+sample@close.com"
                  ],
                  "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "updated_by_name": "Bruce Wayne",
                  "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "user_name": "Bruce Wayne",
                  "users": []
                },
                "schema": {
                  "$ref": "#/components/schemas/EmailActivity"
                }
              }
            },
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "operationId": "activities.emails_update",
        "tags": [
          "activities.emails"
        ],
        "summary": "Update an Email activity",
        "description": "This can be used to modify a draft or send it once the draft is complete.\n\nWhen changing a draft's status to `scheduled` or `outbox`, the `sender` field is required if not already set on the email.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "subject": "Updated subject!"
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateEmailActivity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "_type": "Email",
                  "activity_at": "2015-06-26T02:01:43.059265",
                  "attachments": [],
                  "bcc": [],
                  "body_html": "Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!",
                  "body_html_quoted": {
                    "expand": true,
                    "html": "Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!"
                  },
                  "body_preview": "Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any ",
                  "body_text": "Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!",
                  "body_text_quoted": null,
                  "bulk_email_action_id": null,
                  "cc": [],
                  "contact_id": "cont_8NNOJnVwmHQEYuVOgJ4B4zU7g9RUxYH4JnPjza5Vr6t",
                  "created_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "created_by_name": "Steve Wiseman",
                  "date_created": "2015-06-26T02:01:43.059265",
                  "date_scheduled": null,
                  "date_sent": null,
                  "date_updated": "2015-06-26T02:01:43.101910",
                  "direction": "outgoing",
                  "email_account_id": null,
                  "envelope": null,
                  "followup_sequence_add_cc_bcc": false,
                  "followup_sequence_delay": null,
                  "has_reply": false,
                  "id": "acti_EdpqkmtlQHIDWE2CixJo606BapX34SpYV3fzHryGPc3",
                  "in_reply_to_id": null,
                  "lead_id": "lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h",
                  "message_ids": [],
                  "need_smtp_credentials": false,
                  "opens": [],
                  "opens_summary": null,
                  "organization_id": "orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH",
                  "references": [],
                  "send_as_id": null,
                  "send_attempts": [],
                  "sender": "karan@close.com",
                  "sequence_id": null,
                  "sequence_name": null,
                  "sequence_subscription_id": null,
                  "status": "draft",
                  "subject": "Updated subject!",
                  "template_id": null,
                  "template_name": null,
                  "thread_id": "acti_3VFfJMUKvwvQPXAbXAbs9b01usbFC5acL8MrmFcsmK5",
                  "to": [
                    "phil+sample@gclose.com"
                  ],
                  "updated_by": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "updated_by_name": "Steve Wiseman",
                  "user_id": "user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA",
                  "user_name": "Steve Wiseman",
                  "users": []
                },
                "schema": {
                  "$ref": "#/components/schemas/EmailActivity"
                }
              }
            },
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "operationId": "activities.emails_delete",
        "tags": [
          "activities.emails"
        ],
        "summary": "Delete an Email activity",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/activity/emailthread/": {
      "get": {
        "operationId": "activities.email_threads_list",
        "tags": [
          "activities.email_threads"
        ],
        "summary": "List or filter all EmailThread activities",
        "description": "You'll get one object per email conversation (generally grouped by subject).",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SkipParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_IdInParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_LeadIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ContactIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_UserIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_OrganizationIdParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_TypeParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_DateCreatedLtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLteParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtGtParam"
          },
          {
            "$ref": "#/components/parameters/ActivityFilters_ActivityAtLtParam"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "_type": "EmailThread",
                      "contact_id": null,
                      "created_by": null,
                      "created_by_name": null,
                      "date_created": "2014-12-07T04:10:46+00:00",
                      "date_updated": "2014-12-07T04:11:00.476000+00:00",
                      "emails": [
                        {
                          "_type": "Email",
                          "attachments": [],
                          "bcc": [],
                          "body_preview": "Hey Karen,\r\n\r\nThanks for signing up for Close. My name is Steli Efti and I'm\r\nthe CEO of Close. Please let me know if I can do anything to\r\nhelp make your trial into a massive success.\r\n\r\nAdditi",
                          "cc": [],
                          "contact_id": "cont_alksdjfalksdfj8NzQM56BzBZ8X2GWaowuifsOeWyeJ",
                          "created_by": null,
                          "created_by_name": null,
                          "date_created": "2014-12-07T04:10:46+00:00",
                          "date_sent": "2014-12-07T04:10:46+00:00",
                          "date_updated": "2014-12-07T04:11:00.459000+00:00",
                          "direction": "outgoing",
                          "email_account_id": "emailacct_aslkdjfalksjdfCmLShmuvlPMFy7Ze61FVeEj1VXnlG",
                          "envelope": {
                            "bcc": [],
                            "cc": [],
                            "date": "Sun, 07 Dec 2014 04:10:46 +0000",
[...]
